---
title: "Tweet"
---

<h2 class="static__sub-heading text--large">Footer (see main template)</h2>

<div style="background-color: black;">
    {{> _tweet-footer }}
</div>

<h2 class="static__sub-heading text--large">Brand</h2>

{{> _tweet-brand }}

<h2 class="static__sub-heading text--large">Dark</h2>

{{> _tweet-dark }}

<h2 class="static__sub-heading text--large">Light</h2>

{{> _tweet-light }}
