---
title: "Form Contact Standard"
---


<form class="frm" method="post" enctype="multipart/form-data" action="/forms" data-require="controllers/formController" data-form="General Enquiry Form" novalidate>
    <div class="site__max-element-width">
        <div class="grid">
            <div class="grid__item small--one-whole medium--six-eighths push--medium--one-eighth large--eight-twelfths push--large--two-twelfths">
   				<fieldset id="step1" class="frm__step ">
			        <legend class="frm__step-title">General Enquiry</legend>

			        <div class="frm__item" data-form-item>
			            <label class="frm__label" for="FullName">my name is</label>
			            <input class="frm__input" type="text" name="FullName" id="FullName" data-rule-required="true" placeholder="my name is" />
			        </div>

			        <div class="frm__item" data-form-item>
			            <label class="frm__label" for="Company">I work for</label>
			            <input class="frm__input" type="text" name="Company" id="Company" data-rule-required="true" placeholder="I work for" />
			        </div>

			        <div class="frm__item" data-form-item>
			            <label class="frm__label" for="JobTitle">my job title is</label>
			            <input class="frm__input" type="text" name="JobTitle" id="JobTitle" data-rule-required="true" placeholder="my job title is" />
			        </div>

			        <div class="frm__item" data-form-item>
			            <label class="frm__label" for="PhoneNumber">my phone number is</label>
			            <input class="frm__input" type="tel" name="PhoneNumber" id="PhoneNumber" data-rule-phone="true" data-rule-required="true" placeholder="my phone number is" />
			        </div>

			        <div class="frm__item" data-form-item>
			            <label class="frm__label" for="Email">my email is</label>
			            <input class="frm__input" type="email" name="Email" id="Email" data-rule-required="true" data-rule-email="true" placeholder="my email is" />
			        </div>

			        <div class="frm__item" data-form-item>
			            <label class="frm__label" for="Enquiry">enquiry</label>
			            <textarea class="frm__input " type="text" name="Enquiry" id="Enquiry" data-rule-required="true" placeholder="enquiry"></textarea>
			        </div>

					<div class="frm__item" data-form-item>
						<label class="frm__label" for="CVFile">upload CV</label>
						<div class="frm-file-wrap" data-require="views/fileView">
							<input id="CVFile" type="file" name="CVFile" class="frm-file" extension="pdf,doc,docx" data-rule-required="true" />
						</div>
						<small class="frm__small">Word / PDF / Max size 10mb</small>
					</div>

			        <button type="submit" class="btn btn--square btn--square-icon btn--icon"><span class="icon icon--arrow-right"></span>Get in touch</button>
				</fieldset>
            </div>
        </div>
    </div>
</form>
