---
title: "Form Contact Vacancy"
---

<div class="frm-view" data-form>
	<div class="apply-vacancy__wrapper">
		<div class="apply-vacancy__item">
			<div class="apply-vacancy__item-inner">
				<h3 class="text--xlarge apply-vacancy__title">View vacancies</h3>
				<p class="apply-vacancy__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam harum beatae commodi vero repudiandae.</p>
			</div>
			<a href="#" class="apply-vacancy__link">Continue reading</a>
		</div>
		<div class="apply-vacancy__item">
			<div class="apply-vacancy__item-inner">
				<h3 class="text--xlarge apply-vacancy__title">Send us your CV</h3>
				<p class="apply-vacancy__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, nostrum, est. Fugiat inventore, quos?</p>
			</div>
			<a href="#" class="apply-vacancy__link">Continue reading</a>
		</div>
		<div class="apply-vacancy__item">
			<div class="apply-vacancy__item-inner">
				<h3 class="text--xlarge apply-vacancy__title">Graduates</h3>
				<p class="apply-vacancy__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit veritatis inventore exercitationem saepe iure.</p>
			</div>
			<a href="#" class="apply-vacancy__link">Continue reading</a>
		</div>
	</div>
</div>
