---
title: "Brand"
---

<article data-require="controllers/brandController" class="vsb--large">

    <h1 class="vh">Living Brand</h1>

    <div id="brand" class="brand" data-view="brandView" data-audio-track="http://developer.mozilla.org/@api/deki/files/2926/=AudioTest_(1).ogg">

        <div id="brand-content" class="brand__outer radial-gradient--dark-2 trixel--light" aria-hidden="true" data-expander>

            <div class="brand__inner" data-content data-overlay-anchor>

                <div class="brand__constraint site__max-element-width">

                    <div class="brand__avatar" data-audio-anchor>

                        <div class="brand__avatar-inner" data-view="avatarView">

                            <img class="brand__avatar-fallback" src="/img/avatar/fallback-large-hi-res.png"
                                 sizes="(min-width: 640px) 600px, 400px"
                                 srcset="/img/avatar/fallback-large.png 400w,
                                        /img/avatar/fallback-large-hi-res.png 600w" />
                        </div>

                        <img class="brand__logo" src="/img/amaze-logo.svg" alt="Amaze logo" srcset="/img/amaze-logo.svg" />
                    </div>

                    <div class="brand__detail" data-view="brandDetailView">

                        <div class="editorial">

                            <h2>JavaScript Disabled</h2>

                            <p>September 2015 marks 20 years in digital for Amaze. To celebrate we've created a new visual identity system to help us communicate our brand story and purpose.</p>
                            <p>Focused on human behaviour and technology, our identity is organic, not static. Shifting, growing and changing in form.</p>
                            <p>Our living brand mark is the cornerstone of that identity system.</p>
                            <p>The living brand mark evolves, as we evolve. Adapts, as we adapt. And rests when we rest.</p>
                            <p>It is a brand mark born from technology and fed by human behaviour.</p>
                            <p>A technical framework senses and visualises data created by our technical and human activities. This is then transformed into a 3-dimensional form, creating an animated visual manifestation of everything we do.</p>
                            <p>Sound's great doesn't it? But unfortunately your browser does not support Javascript or Javascript has been disabled, so you can't see the 3D animated and interactive brand mark. You are viewing a dynamically generated snapshot. A recent photograph of the living thing. A photograph taken when you loaded this page.</p>
                            <p>To experience how our brand mark lives, breathes, watches and listens, please visit our site using a device with Javascript and WebGL enabled.</p>

                        </div>

                    </div>

                    <button type="button" class="brand__toggle brand__toggle--collapse" aria-controls="brand-content" aria-expanded="false" data-toggle>
                        <span class="icon icon--close">
                            <span class="vh">Collapse living brand</span>
                        </span>
                    </button>

                </div>

            </div>

        </div>

        <button type="button" class="brand__toggle brand__toggle--expand" aria-controls="brand-content" aria-expanded="false" data-toggle="expand">
            <span class="icon icon--show-more">
                <span class="vh">Expand living brand</span>
            </span>

			<span class="brand__toggle-detail">
				654
				<span class="brand__toggle-reveal">emails recieved</span>
			</span>

			<span class="brand__toggle-action">
				Find out more
				<span class="vh"> about living brand</span>
			</span>

        </button>

		<script id="template-brand-detail" type="text/x-handlebars-template">

	        \{{#if webGl}}

	        <div>

	            <div data-listening>

	                <p>Shhhhh! Keep the volume down for a minute.</p>
	                <p>The living brand mark usually listens to the noise we make in our workplaces and the conversations we have in our digital spaces.</p>
	                <p>Right now, in listening mode, it only has ears for you.</p>
	                <p>It is waiting to transform what it hears into a 3-dimensional form. An abstract manifestation of everything you say, sing or play to it.</p>
	                <p>It appreciates the sound of human voices. A lover of all kinds of melodies. But most of all, it likes breakbeats.</p>
	                <p>Now make some noise.

	            </div>

	            <div data-watching>

	                <p>The living brand mark is usually fed by a rich mix of data, collected from the physical and digital spaces that our business inhabits.</p>
	                <p>Right now, in watching mode, it is being fed by you.</p>
	                <p>It is watching and waiting to transform what it sees into a 3-dimensional form. An abstract manifestation of everything you do.</p>
	                <p>It likes the way you move.</p>

	            </div>

	        </div>

	        \{{else}}

	        <div class="editorial">

	        	<h2>WebGL Disabled</h2>

		        <p>Sound's great doesn't it? But unfortunately your browser does not support WebGL, or WebGL has been disabled, so you can't see the 3D animated and interactive brand mark. You are viewing a dynamically generated snapshot. A recent photograph of the living thing. A photograph taken when you loaded this page.</p>
		        <p>To experience how our brand mark lives, breathes, watches and listens, please visit our site using a device with WebGL enabled.</p>

		        </div>

	        \{{/if}}

	    </script>

	    <script id="template-brand-overlay" type="text/x-handlebars-template">

	        <div class="brand__overlay-inner site__max-element-width">

	            <button type="button" role="dialog" class="brand__toggle brand__toggle--collapse" aria-controls="overlay" aria-labelledby="overlay-title" aria-describedby="overlay-desc" data-overlay-close>
	                <span class="icon icon--close">
	                    <span class="vh">Close overlay</span>
	                </span>
	            </button>

	            <article class="brand__overlay-content article">

	                <div class="grid">

	                    <div class="grid__item small--one-whole medium--six-eighths push--medium--one-eighth large--eight-twelfths push--large--two-twelfths">

	                        <div class="article__pad editorial">

	                            \{{#is overlay 'brand'}}

	                            <h2 id="overlay-title">Why a living brand?</h2>

	                            <p id="overlay-desc" class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam et tincidunt turpis, quis consequat ante. Praesent ac quam ligula. Mauris eget efficitur nisi, vel tempus dolor. Quisque luctus eu nulla vitae efficitur.</p>
	                            <p>Fusce libero ante, sodales quis gravida a, dapibus in neque. Duis posuere eget arcu eu tincidunt. Proin quis lacus justo. Nunc varius vel erat ut accumsan. Phasellus non libero sodales, condimentum sapien sit amet, posuere risus.</p>


	                            \{{/is}}

	                            \{{#is overlay 'listeningError'}}

	                            <h2 id="overlay-title">Uh oh!</h2>

	                            <p id="overlay-desc" class="vh">Microphone error description...</p>

	                            <p class="lead">This is great, but it could be even better.</p>
	                            <p>Your device doesn't seem to have a microphone, or else it has been disabled. This means you can't experience the 'listening' mode of our brand mark.</p>

	                            <p>To experience how our brand mark can listen to you, please enable your microphone or visit our site using a device with microphone capabilities.</p>

	                            \{{/is}}

	                            \{{#is overlay 'watchingError'}}

	                            <h2 id="overlay-title">Uh oh!</h2>

	                            <p id="overlay-desc" class="vh">Camera error description...</p>

	                            <p class="lead">This is great, but it could be even better.</p>
	                            <p>Your device doesn't seem to have a webcam, or else it has been disabled. This means you can't experience the 'watching' mode of our brand mark.</p>

	                            <p>To experience how our brand mark can watch you, please enable your camera or visit our site using a device with camera capabilities.</p>

	                            \{{/is}}

	                        </div>

	                    </div>

	                </div>

	            </article>

	        </div>

	    </script>

    </div>

</article>
