<div class="grid__item one-whole searchoverlay__result searchoverlay__result--noresults">
	<article>
		<h1 class="search-results__no-results-heading text--large">Your search returned no results</h1>
		<p>Please try again with a different search term</p>
	</article>
</div>