<div class="grid__item one-whole medium--one-third searchoverlay__item searchoverlay__result">
	<article class="search-results__category-item">
		<h1 class="search-results__category-heading text--large"><a href="{{link}}" class="link link--alt">{{title}}</a></h1>
		<p class="search-results__category-summary">{{summary}}</p>
	</article>
</div>