<div class="skew skew--padded vsb--large">

	<section class="infographic infographic--brand">

		<div class="site__max-element-width">

			<div class="grid grid--center">

				<div class="grid__item one-whole medium--one-half large--one-third">

					{{> _our-work-invert }}

				</div><!--grid__item-->

				<div class="grid__item one-whole medium--one-half large--one-third">

					{{> _our-services-invert }}

				</div><!--grid__item-->


				<div class="grid__item one-whole medium--one-half large--one-third">

					{{> _our-careers-invert }}

				</div><!--grid__item-->


			</div><!--grid-->

			{{> _skews-brand }}

		</div><!--gridmax-->

	</section><!--infographic-->

</div>
