<section class="infographic vsb--large-connected"> {{!-- add another class  infographic--invert if want amaze-orange version --}}

	<div class="site__max-element-width">

		{{> _infographics-container }}

		<div class="grid grid--center">

			<div class="grid__item one-whole medium--one-half large--one-third">

				<article class="infographic__item">
					<img src="/temp/infographics/strategic-and-creative.png" alt="" class="infographic__graphic">
					<h1 class="text--large infographic__heading"><a class="infographic__heading-link" href="#">Digital Strategy &amp; Innovation</a></h1>
				</article><!--infographics-block__item -->

			</div><!--grid__item-->

			<div class="grid__item one-whole medium--one-half large--one-third">

				<article class="infographic__item">
					<img src="/temp/infographics/experience-and-design.png" alt="" class="infographic__graphic">
					<h1 class="text--large infographic__heading"><a class="infographic__heading-link" href="#">Experience &amp; Design</a></h1>
				</article><!--infographics-block__item -->

			</div><!--grid__item-->


			<div class="grid__item one-whole medium--one-half large--one-third">

				<article class="infographic__item">
					<img src="/temp/infographics/design-and-build.png" alt="" class="infographic__graphic">
					<h1 class="text--large infographic__heading"><a class="infographic__heading-link" href="#">Design &amp; Build</a></h1>
				</article><!--infographics-block__item -->

			</div><!--grid__item-->

			<div class="grid__item one-whole medium--one-half large--one-third">

				<article class="infographic__item">
					<img src="/temp/infographics/global-implementation.png" alt="" class="infographic__graphic">
					<h1 class="text--large infographic__heading"><a class="infographic__heading-link" href="#">Digital Operations Services</a></h1>
				</article><!--infographics-block__item -->

			</div><!--grid__item-->

			<div class="grid__item one-whole medium--one-half large--one-third">

				<article class="infographic__item">
					<img src="/temp/infographics/integrated-comms.png" alt="" class="infographic__graphic">
					<h1 class="text--large infographic__heading"><a class="infographic__heading-link" href="#">Digital Communications</a></h1>
				</article><!--infographics-block__item -->

			</div><!--grid__item-->

			<div class="grid__item one-whole medium--one-half large--one-third">

				<article class="infographic__item">
					<img src="/temp/infographics/digital-comms-and-tech.png" alt="" class="infographic__graphic">
					<h1 class="text--large infographic__heading"><a class="infographic__heading-link" href="#">Digital Commerce &amp; Technology</a></h1>
				</article><!--infographics-block__item -->

			</div><!--grid__item-->

			<div class="grid__item one-whole medium--one-half large--one-third">

				<article class="infographic__item">
					<img src="/temp/infographics/data-intel.png" alt="" class="infographic__graphic">
					<h1 class="text--large infographic__heading"><a class="infographic__heading-link" href="#">Data Intelligence</a></h1>
				</article><!--infographics-block__item -->

			</div><!--grid__item-->


		</div><!--grid-->
	</div><!--gridmax-->

</section><!--infographic-->
