<div class="infographic__container">
	<div class="site__max-element-width">
	
		<div class="grid grid--center">

			<div class="grid__item one-whole medium--six-eighths large--eight-twelfths">

				<h1 class="infographic__container-heading text--xlarge">Heading</h1>
				<div class="infographic__container-summary editorial">
					<p class="lead">This is the PRE (BEFORE) CONTENT, consectetur adipiscing elit. Aliquam gravida neque ex, vel aliquam ligula faucibus ac. </p>
				</div>					

			</div>

		</div>
	</div>
</div>