<div class="skew skew--padded vsb--large">

	<section class="infographic infographic--light">

		<div class="site__max-element-width">

			{{> _infographics-container }}

			<div class="grid grid--center">

				<div class="grid__item one-whole medium--one-half large--one-third">

					{{> _our-work }}

				</div><!--grid__item-->

				<div class="grid__item one-whole medium--one-half large--one-third">

					{{> _our-services }}

				</div><!--grid__item-->


				<div class="grid__item one-whole medium--one-half large--one-third">

					{{> _our-careers }}

				</div><!--grid__item-->

			</div><!--grid-->

			{{> _skews-light }}

		</div><!--gridmax-->

	</section><!--infographic-->

</div>