<article class="infographic__item">

	<img src="/temp/infographics/services.png" alt="" class="infographic__graphic">
	<h2 class="text--large infographic__heading"><a class="infographic__heading-link" href="#">Our services</a></h2>
	<div class="infographic__text editorial">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem minus labore neque, voluptatem aut.</p>
	</div>
	<a href="#" class="infographic__link"><span class="vh">Our Services</span>Continue reading</a>

</article><!--infographics-block__item -->
