---
title: "Infographics"
---

<h2 class="static__sub-heading text--large">Default</h2>

{{> _infographics-default }}

<h2 class="static__sub-heading text--large">Light</h2>

{{> _infographics-light }}

<h2 class="static__sub-heading text--large">Brand</h2>

{{> _infographics-brand }}

<h2 class="static__sub-heading text--large">Dark</h2>

{{> _infographics-dark }}

<h2 class="static__sub-heading text--large">Trail One</h2>

{{> _infographics-trail-one }}

<h2 class="static__sub-heading text--large">Trail Two</h2>

{{> _infographics-trail-two }}

<h2 class="static__sub-heading text--large">Default with title and summary/text</h2>

{{> _infographics-default-title-summary }}

<h2 class="static__sub-heading text--large">Light with title and summary/text</h2>

{{> _infographics-light-title-summary }}

<h2 class="static__sub-heading text--large">Brand with title and summary/text</h2>

{{> _infographics-brand-title-summary }}

<h2 class="static__sub-heading text--large">Dark with title and summary/text</h2>

{{> _infographics-dark-title-summary }}

<h2 class="static__sub-heading text--large">Trail One with title and summary/text</h2>

{{> _infographics-trail-one-text }}

<h2 class="static__sub-heading text--large">Trail two with title and summary/text</h2>

{{> _infographics-trail-two-text }}
