---
title: "Index"
---

<h1 class="static__heading text--xlarge">Amaze Website</h1>
<h2 class="static__sub-heading text--large">Pages</h2>

<ul>
	{{#each views.paths}}
		<li><a href="/{{path}}">{{id}}</a></li>
	{{/each}}
</ul>

<h2 class="static__sub-heading text--large">Components</h2>

<ul>
	{{#each partials.paths}}
		<li><a href="/{{path}}">{{id}}</a></li>
	{{/each}}
</ul>
