<section class="skew">

    <div class="grid">

        <div class="grid__item one-whole">

            {{> _timeline }}

        </div>

    </div>

    <canvas class="skew__canvas" data-view="skewGradientView" data-base-colour="#21232F" data-primary-colour="#2461aa" data-secondary-colour="#a95fce">
        <div class="skew__canvas radial-gradient--dark-1 trixel--light">
        </div>
    </canvas>

</section>
