---
title: "Job Listing"
---

<h2 class="static__sub-heading text--large">Vacancies</h2>

{{> _job-listing-job-landing }}

<h2 class="static__sub-heading text--large">No Vacancies</h2>

<section class="job-listing vsb--large">

    <div class="site__max-element-width">

        <div class="grid">

            <div class="grid__item small--one-whole medium--six-eighths push--medium--one-eighth large--eight-twelfths push--large--two-twelfths">

                <article class="article vsb--large-connected">
                    <h1 class="article__heading text--xlarge">Join our team</h1>
                    <div class="editorial">
                        <p class="lead">We are always looking for the best talent to join the Amaze family. We are now accepting <a href="#" class="link">graduate applications.</a></p>
                        <p>Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.</p>
                    </div>
                </article>

                {{> _filter-form }}

                <div class="article">
                    <div class="editorial">
                        <h2>Oops! No vacancies found</h2>
                        <p class="lead">Cant find the job your after? We are always on the look out for the best people.</p>

                        <div class="article__cta">
							<a href="#" type="button" class="btn btn--square btn--square-icon btn--icon">
								<span class="icon icon--arrow-right"></span>
								Send us your CV
							</a>
                        </div>

                    </div>
                </div>

            </div>
        </div>

    </div>

</section>

<h2 class="static__sub-heading text--large">Related Roles</h2>

{{> _job-listing-related-roles }}
