<section class="logo-grid">

	<div class="site__max-element-width">

		<div class="logo-grid__container vsb--large">

			<div class="grid grid--center">
				<div class="grid__item small--one-whole medium--six-eighths large--eight-twelfths">
					<div class="editorial logo-grid__description vsb--large-connected">
						<h1 class="text--xxlarge">Our Clients</h1>
						<p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus dolorum ducimus asperiores veniam iste.</p>
					</div>
				</div>
			</div>

			<div class="grid">

				<div class="grid__item one-half medium--one-quarter">
					<div class="logo-grid__item">
						<img src="/temp/clients/asics.svg" alt="Asics Logo" class="logo-grid__logos" />
					</div>
				</div><!--grid__item-->

				<div class="grid__item one-half medium--one-quarter">
					<div class="logo-grid__item">
						<img src="/temp/clients/caravan-club.svg" alt="Asics Logo" class="logo-grid__logos" />
					</div>
				</div><!--grid__item-->

				<div class="grid__item one-half medium--one-quarter">
					<div class="logo-grid__item">
						<img src="/temp/clients/carlson-rezidor.svg" alt="Carlson Rezidor Logo" class="logo-grid__logos" />
					</div>
				</div><!--grid__item-->

				<div class="grid__item one-half medium--one-quarter">
					<div class="logo-grid__item">
						<img src="/temp/clients/carlsberg.svg" alt="Carlsberg Logo" class="logo-grid__logos" />
					</div>
				</div><!--grid__item-->

				<div class="grid__item one-half medium--one-quarter">
					<div class="logo-grid__item">
						<img src="/temp/clients/co-op.svg" alt="Co-op Logo" class="logo-grid__logos" />
					</div>
				</div><!--grid__item-->

				<div class="grid__item one-half medium--one-quarter">
					<div class="logo-grid__item">
						<img src="/temp/clients/coats.svg" alt="Coats Logo" class="logo-grid__logos" />
					</div>
				</div><!--grid__item-->

				<div class="grid__item one-half medium--one-quarter">
					<div class="logo-grid__item">
						<img src="/temp/clients/coca-cola.svg" alt="Coca-cola Logo" class="logo-grid__logos" />
					</div>
				</div><!--grid__item-->

				<div class="grid__item one-half medium--one-quarter">
					<div class="logo-grid__item">
						<img src="/temp/clients/east-coast.svg" alt="East-Coast Logo" class="logo-grid__logos" />
					</div>
				</div><!--grid__item-->

				<div class="grid__item one-half medium--one-quarter">
					<div class="logo-grid__item">
						<img src="/temp/clients/hiscox.svg" alt="Hiscox Logo" class="logo-grid__logos" />
					</div>
				</div><!--grid__item-->

				<div class="grid__item one-half medium--one-quarter">
					<div class="logo-grid__item">
						<img src="/temp/clients/lexus.svg" alt="Lexus Logo" class="logo-grid__logos" />
					</div>
				</div><!--grid__item-->

				<div class="grid__item one-half medium--one-quarter">
					<div class="logo-grid__item">
						<img src="/temp/clients/nspcc.svg" alt="Nspcc Logo" class="logo-grid__logos" />
					</div>
				</div><!--grid__item-->

				<div class="grid__item one-half medium--one-quarter">
					<div class="logo-grid__item">
						<img src="/temp/clients/pizza-hut.svg" alt="Pizza Hut Logo" class="logo-grid__logos" />
					</div>
				</div><!--grid__item-->

				<div class="grid__item one-half medium--one-quarter">
					<div class="logo-grid__item">
						<img src="/temp/clients/radisson.svg" alt="Radisson Logo" class="logo-grid__logos" />
					</div>
				</div><!--grid__item-->

				<div class="grid__item one-half medium--one-quarter">
					<div class="logo-grid__item">
						<img src="/temp/clients/red-bull.svg" alt="Red Bull Logo" class="logo-grid__logos" />
					</div>
				</div><!--grid__item-->

				<div class="grid__item one-half medium--one-quarter">
					<div class="logo-grid__item">
						<img src="/temp/clients/serco.svg" alt="Serco Logo" class="logo-grid__logos" />
					</div>
				</div><!--grid__item-->

				<div class="grid__item one-half medium--one-quarter">
					<div class="logo-grid__item">
						<img src="/temp/clients/the-perfume-shop.svg" alt="The Perfume Shop" class="logo-grid__logos" />
					</div>
				</div><!--grid__item-->

				<div class="grid__item one-half medium--one-quarter">
					<div class="logo-grid__item">
						<img src="/temp/clients/the-saucy-fish-co.svg" alt="The Saucy Fish Co" class="logo-grid__logos" />
					</div>
				</div><!--grid__item-->

				<div class="grid__item one-half medium--one-quarter">
					<div class="logo-grid__item">
						<img src="/temp/clients/unilever.svg" alt="Unilever" class="logo-grid__logos" />
					</div>
				</div><!--grid__item-->

			</div><!--grid-->	

		</div><!-- logo-grid__container-->

	</div><!--gridmax-->

</section><!--logo-grid-->
