<section class="logo-grid">

	<div class="site__max-element-width">
		
		<div class="logo-grid__container vsb--large">

			<div class="grid grid--center">
				<div class="grid__item small--one-whole medium--six-eighths large--eight-twelfths">
					<div class="editorial logo-grid__description vsb--large-connected">
						<h1 class="text--xxlarge">Our Partners</h1>
						<p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus dolorum ducimus asperiores veniam iste.</p>
					</div>
				</div>
			</div>

			<div class="grid">

				<div class="grid__item one-half medium--one-quarter">
					<div class="logo-grid__item">
						<img src="/temp/partners/acquia.svg" alt="Acquia Logo" class="logo-grid__logos" />
					</div>
				</div><!--grid__item-->

				<div class="grid__item one-half medium--one-quarter">
					<div class="logo-grid__item">
						<img src="/temp/partners/autonomy.svg" alt="Autonomy Logo" class="logo-grid__logos" />
					</div>
				</div><!--grid__item-->

				<div class="grid__item one-half medium--one-quarter">
					<div class="logo-grid__item">
						<img src="/temp/partners/episerver.svg" alt="Episerver Logo" class="logo-grid__logos" />
					</div>
				</div><!--grid__item-->

				<div class="grid__item one-half medium--one-quarter">
					<div class="logo-grid__item">
						<img src="/temp/partners/google.svg" alt="Google Logo" class="logo-grid__logos" />
					</div>
				</div><!--grid__item-->

				<div class="grid__item one-half medium--one-quarter">
					<div class="logo-grid__item">
						<img src="/temp/partners/hybris.svg" alt="Hybris Logo" class="logo-grid__logos" />
					</div>
				</div><!--grid__item-->

				<div class="grid__item one-half medium--one-quarter">
					<div class="logo-grid__item">
						<img src="/temp/partners/microsoft.svg" alt="Microsoft Logo" class="logo-grid__logos" />
					</div>
				</div><!--grid__item-->

				<div class="grid__item one-half medium--one-quarter">
					<div class="logo-grid__item">
						<img src="/temp/partners/sdl.svg" alt="sdl Logo" class="logo-grid__logos" />
					</div>
				</div><!--grid__item-->

				<div class="grid__item one-half medium--one-quarter">
					<div class="logo-grid__item">
						<img src="/temp/partners/sitecore.svg" alt="Sitecore Logo" class="logo-grid__logos" />
					</div>
				</div><!--grid__item-->

			</div><!--grid-->

		</div><!-- logo-grid__container -->

	</div><!--gridmax-->

</section><!--logo-grid-->
