<section class="image-gallery-carousel vsb--large">

	<div class="site__max-element-width">

		<div class="grid">

			<div class="grid__item one-whole medium--six-eighths push--medium--one-eighth large--eight-twelfths push--large--two-twelfths">

				<div class="image-gallery-carousel__items">
					<div class="image-gallery-carousel__item">

						<picture>
							<source media="(min-width: 64rem)" srcset="http://lorempixel.com/1300/674/" />
							<source media="(min-width: 40rem)" srcset="http://lorempixel.com/1000/563/" />
							<source media="(min-width: 30rem)" srcset="http://lorempixel.com/700/394/" />
							<img src="http://lorempixel.com/400/225/" alt="" />
						</picture>

					</div>
				</div>

			</div>
		</div>

	</div>

</section>
