<section class="image-gallery-carousel vsb--large" data-require="views/imageGalleryCarouselView">

	<div class="site__max-element-width">
		
		<div class="grid">

			<div class="grid__item one-whole medium--six-eighths push--medium--one-eighth large--eight-twelfths push--large--two-twelfths">
				<div class="image-gallery-carousel__pre-content">
					<h1 class="image-gallery-carousel__heading text--large">Heading</h1>
					<div class="editorial">
						<p>This is the PRE (BEFORE) CONTENT, consectetur adipiscing elit. Aliquam gravida neque ex, vel aliquam ligula faucibus ac. </p>
					</div>
				</div>
			</div>

		</div>

	</div>

	<div class="site__max-element-width image-gallery-carousel__site-max-element-width">
		<div class="grid">

			<div class="image-gallery-carousel__grid-item grid__item one-whole medium--six-eighths push--medium--one-eighth large--eight-twelfths push--large--two-twelfths">

				<!-- NOTE: Use ImageResizing.NET ?width=XXX -->
				<!-- Small ~480 -->
				<!-- Medium ~640 -->
				<!-- Large ~1024 -->

				<ul class="image-gallery-carousel__items">
					<li class="image-gallery-carousel__item">

						<picture>
							<source media="(min-width: 64rem)" srcset="http://lorempixel.com/1300/674/" />
							<source media="(min-width: 40rem)" srcset="http://lorempixel.com/1000/563/" />
							<source media="(min-width: 30rem)" srcset="http://lorempixel.com/700/394/" />
							<img src="http://lorempixel.com/400/225/" alt="" />
						</picture>

					</li>
					<li class="image-gallery-carousel__item">

						<picture>
							<source media="(min-width: 64rem)" srcset="http://lorempixel.com/1300/674/" />
							<source media="(min-width: 40rem)" srcset="http://lorempixel.com/1000/563/" />
							<source media="(min-width: 30rem)" srcset="http://lorempixel.com/700/394/" />
							<img src="http://lorempixel.com/400/225/" alt="" />
						</picture>

					</li>
					<li class="image-gallery-carousel__item">

						<picture>
							<source media="(min-width: 64rem)" srcset="http://lorempixel.com/1300/674/" />
							<source media="(min-width: 40rem)" srcset="http://lorempixel.com/1000/563/" />
							<source media="(min-width: 30rem)" srcset="http://lorempixel.com/700/394/" />
							<img src="http://lorempixel.com/400/225/" alt="" />
						</picture>

					</li>
				</ul>

			</div>
		</div>

	</div>

	<div class="site__max-element-width">

		<div class="grid">

			<div class="grid__item one-whole medium--six-eighths push--medium--one-eighth large--eight-twelfths push--large--two-twelfths">
				<div class="image-gallery-carousel__post-content">
					<div class="editorial">
						<p>This is the POST (AFTER) CONTENT, consectetur adipiscing elit. Aliquam gravida neque ex, vel aliquam ligula faucibus ac. </p>
					</div>
				</div>
			</div>

		</div>

	</div>

</section>
