---
title: "Image Gallery Carousel"
---

<h2 class="static__sub-heading text--large">Standard</h2>

{{> _image-gallery-carousel-standard }}

<h2 class="static__sub-heading text--large">Single</h2>

{{> _image-gallery-carousel-single }}

<h2 class="static__sub-heading text--large">Editorial</h2>

{{> _image-gallery-carousel-editorial }}

