<form class="article-grid__form vsb--large-connected filter-view" data-view="filterView" autocomplete="off">

    <fieldset class="filter-view__fieldset">
        <legend class="filter-view__legend vh">Filter news</legend>
        <div class="filter-view__option">
            <div data-view="selectView" data-filter="types" class="frm-select-wrap">
                <label for="news-by-type" class="vh">By Type:</label>
                <select id="news-by-type" name="news-by-type" class="frm-select">
                    <option value="">All News</option>
                    <option value="Amaze generation">Amaze generation</option>
                    <option value="News">News</option>
                    <option value="Blog">Blog</option>
                    <option value="Partner News">Partner News</option>
                    <option value="Events">Events</option>
                    <option value="Thought Leadership">Thought Leadership</option>
                    <option value="Media Coverage">Media Coverage</option>
                </select>
                <span class="frm-select-wrap__icon icon icon--arrow-down"></span>
            </div>
        </div>
        <span class="filter-view__ampersand filter-view__ampersand--article-grid content-ampersand text--large"></span>
        <div class="filter-view__option">
            <div data-view="selectView" data-filter="services" class="frm-select-wrap">
                <label for="news-by-service" class="vh">By Service:</label>
                <select id="news-by-service" name="news-by-service" class="frm-select">
                    <option value="">All Services</option>
                    <option value="Strategy & Innovation">Strategy & Innovation</option>
                    <option value="Digital Experience & Design">Digital Experience & Design</option>
                    <option value="Commerce & Technology">Commerce & Technology</option>
                    <option value="Global Design and Build">Global Design and Build</option>
                    <option value="Integrated Communications">Integrated Communications</option>
                    <option value="Digital Operations Services">Digital Operations Services</option>
                    <option value="Data Intelligence">Data Intelligence</option>
                </select>
                <span class="frm-select-wrap__icon icon icon--arrow-down"></span>
            </div>
        </div>
        <span class="filter-view__ampersand filter-view__ampersand--article-grid content-ampersand text--large"></span>
        <div class="filter-view__option">
            <div data-view="selectView" data-filter="year" class="frm-select-wrap">
                <label for="news-by-year" class="vh">By year:</label>
                <select id="news-by-year" name="news-by-year" class="frm-select">
                    <option value="">All years</option>
                    <option value="2014">2014</option>
                    <option value="2015">2015</option>
                </select>
                <span class="frm-select-wrap__icon icon icon--arrow-down"></span>
            </div>
        </div>

        <input class="filter-view__submit btn btn--square" type="submit" value="Filter news" data-filter-auto-submit />

    </fieldset>

</form>
