<section class="device-showcase vsb--large" data-require="views/deviceShowcaseView"> <!-- device-showcase--animate added for js version --> 
	
	<div class="site__max-element-width">
		
		<div class="grid">
			
			<div class="grid__item one-whole medium--six-eighths push--medium--one-eighth large--ten-twelfths push--large--one-twelfth">
				<div class="device-showcase__container">
					
					<div class="device-showcase__monitor">

						<picture class="device-showcase__monitor-picture">
	                        <source media="(min-width: 64rem)" srcset="http://lorempixel.com/1100/618/technics/1">
	                        <source media="(min-width: 40rem)" srcset="http://lorempixel.com/810/455/technics/2">
	                        <img src="http://lorempixel.com/675/379/technics/3" alt="" class="device-showcase__monitor-image" />
						</picture>

						<div class="device-showcase__monitor-device"></div>

					</div>


					<!-- NOTE: Don't render div if not oculus, this will be some kind of checkbox in the CMS -->
					<div class="device-showcase__oculus">
						<span class="device-showcase__oculus-image"></span>
					</div>
					<!-- end of oculus -->

					<div class="device-showcase__mobile">

						<img src="http://lorempixel.com/142/214/technics/1" alt="" class="device-showcase__mobile-image" />


						<div class="device-showcase__mobile-device"></div>
										
					</div>

					<div class="device-showcase__tablet">
						
						<picture class="device-showcase__tablet-picture">
							<source media="(min-width: 40rem)" srcset="http://lorempixel.com/350/467/technics/1">
	                        <img src="http://lorempixel.com/145/194/technics/2" alt="" class="device-showcase__tablet-image" />
						</picture>

						<div class="device-showcase__tablet-device"></div>							

					</div>			

				</div>
			</div>
		</div>
	</div>

</section>