
<li class="navigation__item navigation__item--snav" tabindex="0">
    <a class="navigation__item-link navigation__item-link--snav" href="{{ link }}" tabindex="-1">
        <span class="navigation__item-text navigation__item-text--snav">
            {{ title }}
        </span>
    </a>
</li>