<section class="infographic-counter vsb--large">

	<div class="site__max-element-width">
		
		<div class="grid grid--center">

			<div class="grid__item one-whole medium--six-eighths large--eight-twelfths">

				<div class="editorial vsb--small infographic-counter__editorial">
		            <h2>How to Apply?</h2>

		            <p class="lead">The Amaze Graduate Programme launched in August 2013 and is proving a great success.</p>

		            <p>It’s been set up with the aim of developing an innovative, employer led scheme to attract and retain graduate talent within Amaze - a leading full service digital agency with global reach.</p>

		            <p>The programme is designed to support work based learning, undertaken through placements within 5 separate areas of our business for a 12 month period. If successful, there will also be the opportunity for you to move into a permanent role once the 12 months is completed.</p>

		            <ul>
		                <li>Applicants must have finished their degree</li>
		                <li>Applicants will be working in our Manchester office</li>
		                <li>Available to start on 1st September 2015</li>
		                <li>You must be eligible to work in the UK</li>
		            </ul>
				</div>

			</div>

		</div>

		<div class="grid grid--center">

			<div class="grid__item one-whole medium--six-eighths large--eight-twelfths">

				<div class="grid grid--center">
					<div class="grid__item one-whole medium--one-half large--four-twelfths">

						<article class="infographic-counter__item infographic-counter__item--middle">

							<div class="infographic-counter__shape infographic-counter__shape--first">

								<span class="infographic-counter__data text--xxlarge">64</span>

							</div>

							<div class="infographic-counter__text editorial">
								<p>Websites</p>
							</div>

						</article>

					</div>

					<div class="grid__item one-whole">

						<div class="article__cta">
					    	<a href="#" class="btn btn--square btn--square-icon btn--icon"><span class="icon icon--arrow-right"></span>Apply now</a>
						</div>

					</div>


				</div>
			</div>

		</div>

	</div>
</section>
