---
title: "Partners Grid"
---

<section class="expanding-grid expanding-grid--partners-grid vsb--large" data-require="views/gridExpanderView">

	<h1 class="expanding-grid__heading expanding-grid__heading--alt text--xlarge">Our partners</h1>

	<div class="site__max-element-width" data-grid-inner>

		<div class="expanding-grid__flexbox expanding-grid__grid-partners">

			<a href="partners-grid-article.html" class="expanding-grid__item" data-view="gridArticle">
				<article class="expanding-grid__article">
					<img src="/temp/partners/sdl.svg" alt="sdl Logo" class="expanding-grid__article-logos">
					<p class="expanding-grid__article-text">SDL Tridion has been a strategic partner of Amaze for 14 years</p>
				</article>
			</a>

			<a href="partners-grid-article.html" class="expanding-grid__item" data-view="gridArticle">
				<article class="expanding-grid__article">
					<img src="/temp/partners/episerver.svg" alt="Episerver Logo" class="expanding-grid__article-logos">
					<p class="expanding-grid__article-text">Episerver have been a strategic partner of Amaze for 10 years</p>
				</article>
			</a>

			<a href="partners-grid-article.html" class="expanding-grid__item" data-view="gridArticle">
				<article class="expanding-grid__article">
					<img src="/temp/partners/hybris.svg" alt="Hybris Logo" class="expanding-grid__article-logos">
					<p class="expanding-grid__article-text">Amaze is a key commerce partner of hybris and a Silver Regional partner</p>
				</article>
			</a>

			<a href="partners-grid-article.html" class="expanding-grid__item" data-view="gridArticle">
				<article class="expanding-grid__article">
					<img src="/temp/partners/sitecore.svg" alt="Sitecore Logo" class="expanding-grid__article-logos">
					<p class="expanding-grid__article-text">Amaze is a Silver Regional partner with developers certified on the platform</p>
				</article>
			</a>

			<a href="partners-grid-article.html" class="expanding-grid__item" data-view="gridArticle">
				<article class="expanding-grid__article">
					<img src="/temp/partners/google.svg" alt="Google Logo" class="expanding-grid__article-logos">
					<p class="expanding-grid__article-text">Amaze is on of only nine agencies in the UK to receive accreditation</p>
				</article>
			</a>

		</div>
	</div>

</section>
