<div class="site__max-element-width">
	<div class="grid">
		<div class="grid__item one-whole medium--six-eighths push--medium--one-eighth large--eight-twelfths push--large--two-twelfths">

			<article class="article grid-article" data-grid-content>

				<div class="article__pad">

					<h1 class="text--xxlarge grid-article__heading">
						Error {{code}}
					</h1>

				</div>

			</article>

		</div>
	</div>
</div>
