<div id="expanding-grid-modal" aria-live="polite" aria-hidden="true" class="expanding-grid__modal">

	<span class="expanding-grid__modal-marker" data-marker></span>

	<div class="expanding-grid__modal-inner" data-outer>

		<div class="expanding-grid__modal-pad site__max-element-width" data-inner>

			<div class="grid">

				<div class="grid__item one-whole medium--six-eighths push--medium--one-eighth large--two-twelfths push--large--ten-twelfths">

					<div class="expanding-grid__modal-controls">
                        <button type="button" data-control="prev" class="icon icon--arrow-left expanding-grid__modal-controls-icons"><span class="vh">Prev</span></button>
                        <button type="button" data-control="next" class="icon icon--arrow-right expanding-grid__modal-controls-icons"><span class="vh">Next</span></button>
						<span class="expanding-grid__modal-controls-spacer"></span>
                        <button type="button" data-control="close" class="icon icon--close expanding-grid__modal-controls-icons"><span class="vh">Close</span></button>
					</div>

				</div>

                <div class="grid__item one-whole medium--six-eighths push--medium--one-eighth large--eight-twelfths push--large--reset">

                    <div class="expanding-grid__modal-content" data-content></div>

                </div>

			</div>

		</div>

	</div>

</div>
