<label for="{{id}}" class="{{classes}} frm-file-augmented btn btn--square btn--square-icon btn--icon" data-file>
    <span data-value>{{value}}</span>
    <span class="icon {{#if active}}icon--edit{{else}}icon--arrow-right{{/if}}"></span>
</label>
