<div class="grid grid--center">
    <div class="grid__item one-whole medium--six-eighths large--eight-twelfths">
    	<div class="editorial error-container">
			<h1 class="text--xxlarge">
				Error {{code}}
			</h1>
    	</div>
	</div>
</div>
