<div class="grid grid--center">
	<div class="grid__item one-whole medium--six-eighths large--eight-twelfths">
		<div class="editorial">
			<p class="lead frm-selector__text">
			{{#if message}}
				{{message}}
			{{else}}
				Sorry there seems to be a problem with your request, please try again later.
			{{/if}}
			</p>

			<div class="btn-wrap btn-wrap--wide frm-selector__cta">
			    <button type="button" class="btn btn--diamond" data-restart><span class="icon icon--close-small"></span></button>
				<span class="btn-wrap__text">Close</span>
			</div>
		</div>
	</div>
</div>
