<div class="btn-wrap btn-wrap--wide" data-show-more>
    <button type="button" class="btn btn--diamond"><span class="icon icon--more-content"></span></button>
	<span class="btn-wrap__text">Show more</span>
</div>
