---
title: "Skews"
---

<h2 class="static__sub-heading text--large">Brand</h2>

{{> _skews-brand-article }}

<h2 class="static__sub-heading text--large">Dark</h2>

<section class="skew skew--padded vsb--large">

	<div class="site__max-element-width">

		<div class="grid">

			<div class="grid__item one-whole medium--six-eighths push--medium--one-eighth large--eight-twelfths push--large--two-twelfths">

				<article class="article">

					<div class="article__pad">

						<div class="editorial editorial--dark">

							<h2>XLarge Heading</h2>
							<p class="lead">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
							<p><strong>Pellentesque habitant morbi tristique</strong> senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. <em>Aenean ultricies mi vitae est.</em> Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. <a href="#">Donec non enim</a> in turpis pulvinar facilisis. Ut felis.</p>

							<div class="article__cta">
								<a class="btn btn--square btn--invert">Find out more</a>
							</div>

						</div>

					</div>

				</article>

			</div>

		</div>

		{{> _skews-dark }}

	</div>

</section>

<h2 class="static__sub-heading text--large">Light</h2>

<section class="skew skew--padded vsb--large">

	<div class="site__max-element-width">

		<div class="grid">

			<div class="grid__item one-whole medium--six-eighths push--medium--one-eighth large--eight-twelfths push--large--two-twelfths">

				<article class="article">

					<div class="article__pad">

						<div class="editorial">

							<h2>XLarge Heading</h2>
							<p class="lead">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
							<p><strong>Pellentesque habitant morbi tristique</strong> senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. <em>Aenean ultricies mi vitae est.</em> Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. <a href="#">Donec non enim</a> in turpis pulvinar facilisis. Ut felis.</p>

							<div class="article__cta">
								<a class="btn btn--square">Find out more</a>
							</div>

						</div>

					</div>

				</article>

			</div>

		</div>

		{{> _skews-light }}

	</div>

</section>

<h2 class="static__sub-heading text--large">Light (Bare)</h2>

<section class="skew skew--padded vsb--large">

	<div class="site__max-element-width">

		<div class="grid">

			<div class="grid__item one-whole medium--six-eighths push--medium--one-eighth large--eight-twelfths push--large--two-twelfths">

				<article class="article">

					<div class="article__pad">

						<div class="editorial">

							<h2>XLarge Heading</h2>
							<p class="lead">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
							<p><strong>Pellentesque habitant morbi tristique</strong> senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. <em>Aenean ultricies mi vitae est.</em> Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. <a href="#">Donec non enim</a> in turpis pulvinar facilisis. Ut felis.</p>

							<div class="article__cta">
								<a class="btn btn--square">Find out more</a>
							</div>

						</div>

					</div>

				</article>

			</div>

		</div>

		{{> _skews-light-bare }}

	</div>

</section>
