
<div class="image-grid__wrap">

    {{> _image-grid-portrait-image this.images.portrait }}

    <div class="image-grid__grouped">
        {{> _image-grid-landscape-image this.images.landscape-1 }}
        {{> _image-grid-landscape-image this.images.landscape-2 }}
    </div>

</div>