
<div class="image-grid__wrap">

    <div class="image-grid__grouped">
        {{> _image-grid-landscape-image this.images.landscape-1 }}
    </div>

    <div class="image-grid__grouped">
        {{> _image-grid-landscape-image this.images.landscape-2 }}
    </div>

</div>