
<div class="image-grid__wrap">

    <div class="image-grid__grouped">
        {{> _image-grid-portrait-large this.images.portrait-1 }}
    </div>
    
    <div class="image-grid__grouped">
        {{> _image-grid-portrait-large this.images.portrait-2 }}
    </div>

</div>