<nav class="next-steps skew next-steps--padded">

	<div class="site__max-element-width">

		<div class="grid">

			<div class="grid__item one-whole medium--one-half">

				<div class="next-steps__inner next-steps__inner--double">
					<a href="#" class="next-steps__link">
						<div class="next-steps__item">
							<span class="next-steps__item-intro text--large">What's next?</span>
							<span class="next-steps__item-heading text--xlarge">Our Services</span>
							<span class="next-steps__item-icon next-steps__item-icon--left icon icon--arrow-left"></span>
						</div>
					</a>
				</div>

			</div><!--grid__item-->

			<div class="grid__item one-whole medium--one-half">

				<div class="next-steps__inner next-steps__inner--double next-steps__inner--double-last">
					<a href="#" class="next-steps__link">
						<div class="next-steps__item">
							<span class="next-steps__item-intro text--large">Want to work here?</span>
							<span class="next-steps__item-heading text--xlarge">Careers</span>
							<span class="next-steps__item-icon next-steps__item-icon--right icon icon--arrow-right"></span>
						</div>
					</a>
				</div>

			</div><!--grid__item-->

		</div><!--grid-->

		<canvas class="skew__canvas" data-require="views/skewGradientView" data-base-colour="#FF8300" data-primary-colour="#D35927" data-secondary-colour="#A95FCE" data-angles="top">

			<div class="skew__canvas radial-gradient--brand-1">
			</div>

		</canvas>


	</div><!--gridmax-->

</nav><!--next-steps block-->
