{{#each this}}
<div role="button" tabindex="0" class="angle-carousel__control" aria-controls="angle-carousel-slides angle-carousel-text" data-control>
    <span class="angle-carousel__control-text angle-carousel__control-text--category text--small">{{category}}</span>
    <strong class="angle-carousel__control-text angle-carousel__control-text--title text--large">{{title}}</strong>
    <span class="angle-carousel__control-text angle-carousel__control-text--caption text--base">{{caption}}</span>
</div>
{{/each}}
