<article id="angle-carousel-text" class="angle-carousel__cta">

    <a href="{{href}}" class="angle-carousel__cta-link" data-cta>

        <h1 class="angle-carousel__text angle-carousel__text--title text--xxlarge">{{title}}</h1>
        <p class="angle-carousel__text angle-carousel__text--caption text--large">{{caption}}</p>

    </a>

</article>
