<div class="angle-carousel__pagination">

	<button type="button" class="angle-carousel__direction angle-carousel__direction--prev" data-direction="-1">
		<span class="icon icon--arrow-left">
			<span class="vh">Previous</span>
		</span>
	</button>

	<button type="button" class="angle-carousel__direction angle-carousel__direction--next" data-direction="1">
		<span class="icon icon--arrow-right">
			<span class="vh">Next</span>
		</span>
	</button>

</div>
