---
title: "Colour Gradients / Trixle"
---

<div class="static__section">

	<h1 class="static__heading text--xlarge">Gradients</h1>
	<h2 class="static__sub-heading text--large">Brand 1</h2>

	<div class="static__gradient-block">

		<svg class="svg__skew-clipping">

			<defs>
				<pattern x="0" y="0" width="23.2" height="40" patternUnits="userSpaceOnUse" id="svg__trixle-1" viewBox="0 0 23.2 40" overflow="visible">
					<polygon points="23.2,0 0,0 0,0.5 16.8,0.5 5.8,19.6 5.7,19.5 5.7,19.6 0,9.7 0,11.7 4.5,19.5 0,19.5 0,20.5 5.2,20.5 0,29.4 0,31.4 5.7,21.5 16.1,39.5 0,39.5 0,40 23.2,40 23.2,39.5 18.6,39.5 23.2,31.4 23.2,29.4 17.4,39.6 17.4,39.5 17.3,39.6 6.3,20.523.2,20.5 23.2,19.5 7,19.5 17.4,1.5 23.2,11.7 23.2,9.7 17.9,0.5 23.2,0.5 " fill="#ffffff" fill-opacity="0.1" />
				</pattern>

				<radialGradient id="svg__radial-grad-1" cx="0%" cy="100%" r="100%">
					<stop offset="0%" stop-color="#a95fce" stop-opacity="0.3" />
					<stop offset="100%" stop-color="#a95fce" stop-opacity="0" />
				</radialGradient>

				<radialGradient id="svg__radial-grad-2" cx="100%" cy="0%" r="100%">
					<stop offset="0%" stop-color="#d35927" stop-opacity="0.3" />
					<stop offset="100%" stop-color="#d35927" stop-opacity="0" />
				</radialGradient>
			</defs>

			<g>
				<rect width="100%" height="100%" fill="#ff8300" />
				<rect width="100%" height="100%" fill="url(#svg__radial-grad-1)" />
				<rect width="100%" height="100%" fill="url(#svg__radial-grad-2)" />
				<rect width="100%" height="100%" fill="url(#svg__trixle-1)" />
			</g>
		</svg>

	</div>

	<h2 class="static__sub-heading text--large">Brand 2</h2>

	<div class="static__gradient-block">

		<svg class="svg__skew-clipping">

			<defs>
				<pattern x="0" y="0" width="23.2" height="40" patternUnits="userSpaceOnUse" id="svg__trixle-2" viewBox="0 0 23.2 40" overflow="visible">
					<polygon points="23.2,0 0,0 0,0.5 16.8,0.5 5.8,19.6 5.7,19.5 5.7,19.6 0,9.7 0,11.7 4.5,19.5 0,19.5 0,20.5 5.2,20.5 0,29.4 0,31.4 5.7,21.5 16.1,39.5 0,39.5 0,40 23.2,40 23.2,39.5 18.6,39.5 23.2,31.4 23.2,29.4 17.4,39.6 17.4,39.5 17.3,39.6 6.3,20.523.2,20.5 23.2,19.5 7,19.5 17.4,1.5 23.2,11.7 23.2,9.7 17.9,0.5 23.2,0.5 " fill="#ffffff" fill-opacity="0.1" />
				</pattern>

				<radialGradient id="svg__radial-grad-3" cx="0%" cy="100%" r="100%">
					<stop offset="0%" stop-color="#f365d0" stop-opacity="0.3" />
					<stop offset="100%" stop-color="#f365d0" stop-opacity="0" />
				</radialGradient>

				<radialGradient id="svg__radial-grad-4" cx="100%" cy="0%" r="100%">
					<stop offset="0%" stop-color="#ffcc33" stop-opacity="0.3" />
					<stop offset="100%" stop-color="#ffcc33" stop-opacity="0" />
				</radialGradient>
			</defs>

			<g>
				<rect width="100%" height="100%" fill="#ff8300" />
				<rect width="100%" height="100%" fill="url(#svg__radial-grad-3)" />
				<rect width="100%" height="100%" fill="url(#svg__radial-grad-4)" />
				<rect width="100%" height="100%" fill="url(#svg__trixle-2)" />
			</g>
		</svg>

	</div>

	<h2 class="static__sub-heading text--large">Brand 3</h2>

	<div class="static__gradient-block">

		<svg class="svg__skew-clipping">

			<defs>
				<pattern x="0" y="0" width="23.2" height="40" patternUnits="userSpaceOnUse" id="svg__trixle-3" viewBox="0 0 23.2 40" overflow="visible">
					<polygon points="23.2,0 0,0 0,0.5 16.8,0.5 5.8,19.6 5.7,19.5 5.7,19.6 0,9.7 0,11.7 4.5,19.5 0,19.5 0,20.5 5.2,20.5 0,29.4 0,31.4 5.7,21.5 16.1,39.5 0,39.5 0,40 23.2,40 23.2,39.5 18.6,39.5 23.2,31.4 23.2,29.4 17.4,39.6 17.4,39.5 17.3,39.6 6.3,20.523.2,20.5 23.2,19.5 7,19.5 17.4,1.5 23.2,11.7 23.2,9.7 17.9,0.5 23.2,0.5 " fill="#ffffff" fill-opacity="0.1" />
				</pattern>

				<radialGradient id="svg__radial-grad-5" cx="0%" cy="100%" r="100%">
					<stop offset="0%" stop-color="#ffcc33" stop-opacity="0.3" />
					<stop offset="100%" stop-color="#ffcc33" stop-opacity="0" />
				</radialGradient>

				<radialGradient id="svg__radial-grad-6" cx="100%" cy="0%" r="100%">
					<stop offset="0%" stop-color="#d35927" stop-opacity="0.3" />
					<stop offset="100%" stop-color="#d35927" stop-opacity="0" />
				</radialGradient>
			</defs>

			<g>
				<rect width="100%" height="100%" fill="#ff8300" />
				<rect width="100%" height="100%" fill="url(#svg__radial-grad-5)" />
				<rect width="100%" height="100%" fill="url(#svg__radial-grad-6)" />
				<rect width="100%" height="100%" fill="url(#svg__trixle-3)" />
			</g>
		</svg>

	</div>

	<h2 class="static__sub-heading text--large">Dark 1</h2>

	<div class="static__gradient-block">

		<svg class="svg__skew-clipping">

			<defs>
				<pattern x="0" y="0" width="23.2" height="40" patternUnits="userSpaceOnUse" id="svg__trixle-4" viewBox="0 0 23.2 40" overflow="visible">
					<polygon points="23.2,0 0,0 0,0.5 16.8,0.5 5.8,19.6 5.7,19.5 5.7,19.6 0,9.7 0,11.7 4.5,19.5 0,19.5 0,20.5 5.2,20.5 0,29.4 0,31.4 5.7,21.5 16.1,39.5 0,39.5 0,40 23.2,40 23.2,39.5 18.6,39.5 23.2,31.4 23.2,29.4 17.4,39.6 17.4,39.5 17.3,39.6 6.3,20.523.2,20.5 23.2,19.5 7,19.5 17.4,1.5 23.2,11.7 23.2,9.7 17.9,0.5 23.2,0.5 " fill="#ffffff" fill-opacity="0.1" />
				</pattern>

				<radialGradient id="svg__radial-grad-7" cx="0%" cy="100%" r="100%">
					<stop offset="0%" stop-color="#a95fce" stop-opacity="0.3" />
					<stop offset="100%" stop-color="#a95fce" stop-opacity="0" />
				</radialGradient>

				<radialGradient id="svg__radial-grad-8" cx="100%" cy="0%" r="100%">
					<stop offset="0%" stop-color="#d35927" stop-opacity="0.3" />
					<stop offset="100%" stop-color="#d35927" stop-opacity="0" />
				</radialGradient>
			</defs>

			<g>
				<rect width="100%" height="100%" fill="#21232f" />
				<rect width="100%" height="100%" fill="url(#svg__radial-grad-7)" />
				<rect width="100%" height="100%" fill="url(#svg__radial-grad-8)" />
				<rect width="100%" height="100%" fill="url(#svg__trixle-1)" />
			</g>
		</svg>

	</div>

	<h2 class="static__sub-heading text--large">Dark 2</h2>

	<div class="static__gradient-block">

		<svg class="svg__skew-clipping">

			<defs>
				<pattern x="0" y="0" width="23.2" height="40" patternUnits="userSpaceOnUse" id="svg__trixle-5" viewBox="0 0 23.2 40" overflow="visible">
					<polygon points="23.2,0 0,0 0,0.5 16.8,0.5 5.8,19.6 5.7,19.5 5.7,19.6 0,9.7 0,11.7 4.5,19.5 0,19.5 0,20.5 5.2,20.5 0,29.4 0,31.4 5.7,21.5 16.1,39.5 0,39.5 0,40 23.2,40 23.2,39.5 18.6,39.5 23.2,31.4 23.2,29.4 17.4,39.6 17.4,39.5 17.3,39.6 6.3,20.523.2,20.5 23.2,19.5 7,19.5 17.4,1.5 23.2,11.7 23.2,9.7 17.9,0.5 23.2,0.5 " fill="#ffffff" fill-opacity="0.1" />
				</pattern>

				<radialGradient id="svg__radial-grad-9" cx="0%" cy="100%" r="100%">
					<stop offset="0%" stop-color="#f365d0" stop-opacity="0.3" />
					<stop offset="100%" stop-color="#f365d0" stop-opacity="0" />
				</radialGradient>

				<radialGradient id="svg__radial-grad-10" cx="100%" cy="0%" r="100%">
					<stop offset="0%" stop-color="#2461aa" stop-opacity="0.3" />
					<stop offset="100%" stop-color="#2461aa" stop-opacity="0" />
				</radialGradient>
			</defs>

			<g>
				<rect width="100%" height="100%" fill="#21232f" />
				<rect width="100%" height="100%" fill="url(#svg__radial-grad-9)" />
				<rect width="100%" height="100%" fill="url(#svg__radial-grad-10)" />
				<rect width="100%" height="100%" fill="url(#svg__trixle-5)" />
			</g>
		</svg>

	</div>

	<h2 class="static__sub-heading text--large">Dark 3</h2>

	<div class="static__gradient-block">

		<svg class="svg__skew-clipping">

			<defs>
				<pattern x="0" y="0" width="23.2" height="40" patternUnits="userSpaceOnUse" id="svg__trixle-6" viewBox="0 0 23.2 40" overflow="visible">
					<polygon points="23.2,0 0,0 0,0.5 16.8,0.5 5.8,19.6 5.7,19.5 5.7,19.6 0,9.7 0,11.7 4.5,19.5 0,19.5 0,20.5 5.2,20.5 0,29.4 0,31.4 5.7,21.5 16.1,39.5 0,39.5 0,40 23.2,40 23.2,39.5 18.6,39.5 23.2,31.4 23.2,29.4 17.4,39.6 17.4,39.5 17.3,39.6 6.3,20.523.2,20.5 23.2,19.5 7,19.5 17.4,1.5 23.2,11.7 23.2,9.7 17.9,0.5 23.2,0.5 " fill="#ffffff" fill-opacity="0.1" />
				</pattern>

				<radialGradient id="svg__radial-grad-11" cx="0%" cy="100%" r="100%">
					<stop offset="0%" stop-color="#2461aa" stop-opacity="0.3" />
					<stop offset="100%" stop-color="#2461aa" stop-opacity="0" />
				</radialGradient>

				<radialGradient id="svg__radial-grad-12" cx="100%" cy="0%" r="100%">
					<stop offset="0%" stop-color="#a95fce" stop-opacity="0.3" />
					<stop offset="100%" stop-color="#a95fce" stop-opacity="0" />
				</radialGradient>
			</defs>

			<g>
				<rect width="100%" height="100%" fill="#21232f" />
				<rect width="100%" height="100%" fill="url(#svg__radial-grad-11)" />
				<rect width="100%" height="100%" fill="url(#svg__radial-grad-12)" />
				<rect width="100%" height="100%" fill="url(#svg__trixle-6)" />
			</g>
		</svg>

	</div>

	<h2 class="static__sub-heading text--large">Light 1</h2>

	<div class="static__gradient-block">

		<svg class="svg__skew-clipping">

			<defs>
				<pattern x="0" y="0" width="23.2" height="40" patternUnits="userSpaceOnUse" id="svg__trixle-7" viewBox="0 0 23.2 40" overflow="visible">
					<polygon points="23.2,0 0,0 0,0.5 16.8,0.5 5.8,19.6 5.7,19.5 5.7,19.6 0,9.7 0,11.7 4.5,19.5 0,19.5 0,20.5 5.2,20.5 0,29.4 0,31.4 5.7,21.5 16.1,39.5 0,39.5 0,40 23.2,40 23.2,39.5 18.6,39.5 23.2,31.4 23.2,29.4 17.4,39.6 17.4,39.5 17.3,39.6 6.3,20.523.2,20.5 23.2,19.5 7,19.5 17.4,1.5 23.2,11.7 23.2,9.7 17.9,0.5 23.2,0.5 " fill="#ffffff" fill-opacity="0.1" />
				</pattern>

				<radialGradient id="svg__radial-grad-13" cx="0%" cy="100%" r="100%">
					<stop offset="0%" stop-color="#a95fce" stop-opacity="0.3" />
					<stop offset="100%" stop-color="#a95fce" stop-opacity="0" />
				</radialGradient>

				<radialGradient id="svg__radial-grad-14" cx="100%" cy="0%" r="100%">
					<stop offset="0%" stop-color="#d35927" stop-opacity="0.3" />
					<stop offset="100%" stop-color="#d35927" stop-opacity="0" />
				</radialGradient>
			</defs>

			<g>
				<rect width="100%" height="100%" fill="#ffffff" />
				<rect width="100%" height="100%" fill="url(#svg__radial-grad-5)" />
				<rect width="100%" height="100%" fill="url(#svg__radial-grad-6)" />
				<rect width="100%" height="100%" fill="url(#svg__trixle-7)" />
			</g>
		</svg>

	</div>

	<h2 class="static__sub-heading text--large">Light 2</h2>

	<div class="static__gradient-block">

		<svg class="svg__skew-clipping">

			<defs>
				<pattern x="0" y="0" width="23.2" height="40" patternUnits="userSpaceOnUse" id="svg__trixle-8" viewBox="0 0 23.2 40" overflow="visible">
					<polygon points="23.2,0 0,0 0,0.5 16.8,0.5 5.8,19.6 5.7,19.5 5.7,19.6 0,9.7 0,11.7 4.5,19.5 0,19.5 0,20.5 5.2,20.5 0,29.4 0,31.4 5.7,21.5 16.1,39.5 0,39.5 0,40 23.2,40 23.2,39.5 18.6,39.5 23.2,31.4 23.2,29.4 17.4,39.6 17.4,39.5 17.3,39.6 6.3,20.523.2,20.5 23.2,19.5 7,19.5 17.4,1.5 23.2,11.7 23.2,9.7 17.9,0.5 23.2,0.5 " fill="#ffffff" fill-opacity="0.1" />
				</pattern>

				<radialGradient id="svg__radial-grad-15" cx="0%" cy="100%" r="100%">
					<stop offset="0%" stop-color="#f365d0" stop-opacity="0.3" />
					<stop offset="100%" stop-color="#f365d0" stop-opacity="0" />
				</radialGradient>

				<radialGradient id="svg__radial-grad-16" cx="100%" cy="0%" r="100%">
					<stop offset="0%" stop-color="#ffcc33" stop-opacity="0.3" />
					<stop offset="100%" stop-color="#ffcc33" stop-opacity="0" />
				</radialGradient>
			</defs>

			<g>
				<rect width="100%" height="100%" fill="#ffffff" />
				<rect width="100%" height="100%" fill="url(#svg__radial-grad-15)" />
				<rect width="100%" height="100%" fill="url(#svg__radial-grad-16)" />
				<rect width="100%" height="100%" fill="url(#svg__trixle-8)" />
			</g>
		</svg>

	</div>

	<h2 class="static__sub-heading text--large">Light 3</h2>

	<div class="static__gradient-block">

		<svg class="svg__skew-clipping">

			<defs>
				<pattern x="0" y="0" width="23.2" height="40" patternUnits="userSpaceOnUse" id="svg__trixle-9" viewBox="0 0 23.2 40" overflow="visible">
					<polygon points="23.2,0 0,0 0,0.5 16.8,0.5 5.8,19.6 5.7,19.5 5.7,19.6 0,9.7 0,11.7 4.5,19.5 0,19.5 0,20.5 5.2,20.5 0,29.4 0,31.4 5.7,21.5 16.1,39.5 0,39.5 0,40 23.2,40 23.2,39.5 18.6,39.5 23.2,31.4 23.2,29.4 17.4,39.6 17.4,39.5 17.3,39.6 6.3,20.523.2,20.5 23.2,19.5 7,19.5 17.4,1.5 23.2,11.7 23.2,9.7 17.9,0.5 23.2,0.5 " fill="#ffffff" fill-opacity="0.1" />
				</pattern>

				<radialGradient id="svg__radial-grad-17" cx="0%" cy="100%" r="100%">
					<stop offset="0%" stop-color="#ffcc33" stop-opacity="0.3" />
					<stop offset="100%" stop-color="#ffcc33" stop-opacity="0" />
				</radialGradient>

				<radialGradient id="svg__radial-grad-18" cx="100%" cy="0%" r="100%">
					<stop offset="0%" stop-color="#d35927" stop-opacity="0.3" />
					<stop offset="100%" stop-color="#d35927" stop-opacity="0" />
				</radialGradient>
			</defs>

			<g>
				<rect width="100%" height="100%" fill="#ffffff" />
				<rect width="100%" height="100%" fill="url(#svg__radial-grad-17)" />
				<rect width="100%" height="100%" fill="url(#svg__radial-grad-18)" />
				<rect width="100%" height="100%" fill="url(#svg__trixle-9)" />
			</g>
		</svg>

	</div>

</div>
