---
title: "Layout Spacing"
---

<div class="static__section">

    <h1 class="static__heading text--xlarge">Layout Spacing</h1>

    <div class="static__spacing-block static__spacing-block--large"><span class="text--small">Large content seperator (small - 75px, medium - 150px)</span></div>
    <div class="static__spacing-block static__spacing-block--small"><span class="text--small">Small content seperator (small - 50px, medium - 100px)</span></div>
    <div class="static__spacing-block static__spacing-block--large-connected"><span class="text--small">Large connected content seperator (small - 30px, medium - 50px)</span></div>
    <div class="static__spacing-block static__spacing-block--medium-connected"><span class="text--small">Medium connected content seperator (small - 20px, medium - 40px)</span></div>
    <div class="static__spacing-block static__spacing-block--small-connected"><span class="text--small">Small connected content seperator (small - 15px, medium - 30px)</span></div>

</div>
