---
title: "Layout Grid"
---

<div class="static__section">

	<h1 class="static__heading text--xlarge">Layout Grid</h1>

	<div class="static__hidden static__hidden--show-at-xsmall static__hidden--show-at-small">

		<h2 class="static__sub-heading text--large">XSmall / Small layouts (Mobile)</h2>

		<div class="grid static__layout-grid">

			<div class="grid__item xsmall--one-quarter">
				<div class="static__layout-grid-item">
					1
				</div>
			</div>

			<div class="grid__item xsmall--one-quarter">
				<div class="static__layout-grid-item">
					2
				</div>
			</div>

			<div class="grid__item xsmall--one-quarter">
				<div class="static__layout-grid-item">
					3
				</div>
			</div>

			<div class="grid__item xsmall--one-quarter">
				<div class="static__layout-grid-item">
					4
				</div>
			</div>

		</div>

		<div class="grid static__layout-grid">

			<div class="grid__item xsmall--one-third">
				<div class="static__layout-grid-item">
					1
				</div>
			</div>

			<div class="grid__item xsmall--one-third">
				<div class="static__layout-grid-item">
					2
				</div>
			</div>

			<div class="grid__item xsmall--one-third">
				<div class="static__layout-grid-item">
					3
				</div>
			</div>

		</div>

		<div class="grid static__layout-grid">

			<div class="grid__item xsmall--one-half">
				<div class="static__layout-grid-item">
					1
				</div>
			</div>

			<div class="grid__item xsmall--one-half">
				<div class="static__layout-grid-item">
					2
				</div>
			</div>

		</div>

		<div class="grid static__layout-grid">

			<div class="grid__item xsmall--one-whole">
				<div class="static__layout-grid-item">
					1
				</div>
			</div>

		</div>

	</div>


	<div class="static__hidden static__hidden--show-at-medium">

		<h2 class="static__sub-heading text--large">Medium layouts (Tablet)</h2>

		<div class="grid static__layout-grid">

			<div class="grid__item xsmall--one-eighth">
				<div class="static__layout-grid-item">
					1
				</div>
			</div>

			<div class="grid__item xsmall--one-eighth">
				<div class="static__layout-grid-item">
					2
				</div>
			</div>

			<div class="grid__item xsmall--one-eighth">
				<div class="static__layout-grid-item">
					3
				</div>
			</div>

			<div class="grid__item xsmall--one-eighth">
				<div class="static__layout-grid-item">
					4
				</div>
			</div>

			<div class="grid__item xsmall--one-eighth">
				<div class="static__layout-grid-item">
					5
				</div>
			</div>

			<div class="grid__item xsmall--one-eighth">
				<div class="static__layout-grid-item">
					6
				</div>
			</div>

			<div class="grid__item xsmall--one-eighth">
				<div class="static__layout-grid-item">
					7
				</div>
			</div>

			<div class="grid__item xsmall--one-eighth">
				<div class="static__layout-grid-item">
					8
				</div>
			</div>

		</div>

		<div class="grid static__layout-grid">

			<div class="grid__item medium--one-quarter">
				<div class="static__layout-grid-item">
					1
				</div>
			</div>

			<div class="grid__item medium--one-quarter">
				<div class="static__layout-grid-item">
					2
				</div>
			</div>

			<div class="grid__item medium--one-quarter">
				<div class="static__layout-grid-item">
					3
				</div>
			</div>

			<div class="grid__item medium--one-quarter">
				<div class="static__layout-grid-item">
					4
				</div>
			</div>

		</div>

		<div class="grid static__layout-grid">

			<div class="grid__item xsmall--one-third">
				<div class="static__layout-grid-item">
					1
				</div>
			</div>

			<div class="grid__item xsmall--one-third">
				<div class="static__layout-grid-item">
					2
				</div>
			</div>

			<div class="grid__item xsmall--one-third">
				<div class="static__layout-grid-item">
					3
				</div>
			</div>

		</div>

		<div class="grid static__layout-grid">

			<div class="grid__item xsmall--one-half">
				<div class="static__layout-grid-item">
					1
				</div>
			</div>

			<div class="grid__item xsmall--one-half">
				<div class="static__layout-grid-item">
					2
				</div>
			</div>

		</div>

		<div class="grid static__layout-grid">

			<div class="grid__item xsmall--one-whole">
				<div class="static__layout-grid-item">
					1
				</div>
			</div>

		</div>

	</div>


	<div class="static__hidden static__hidden--show-at-large static__hidden--show-at-xlarge static__hidden--show-at-xxlarge">

		<h2 class="static__sub-heading text--large">Large layouts (Desktop)</h2>

		<div class="grid static__layout-grid">

			<div class="grid__item large--one-twelfth">
				<div class="static__layout-grid-item">
					1
				</div>
			</div>

			<div class="grid__item large--one-twelfth">
				<div class="static__layout-grid-item">
					2
				</div>
			</div>

			<div class="grid__item large--one-twelfth">
				<div class="static__layout-grid-item">
					3
				</div>
			</div>

			<div class="grid__item large--one-twelfth">
				<div class="static__layout-grid-item">
					4
				</div>
			</div>

			<div class="grid__item large--one-twelfth">
				<div class="static__layout-grid-item">
					5
				</div>
			</div>

			<div class="grid__item large--one-twelfth">
				<div class="static__layout-grid-item">
					6
				</div>
			</div>

			<div class="grid__item large--one-twelfth">
				<div class="static__layout-grid-item">
					7
				</div>
			</div>

			<div class="grid__item large--one-twelfth">
				<div class="static__layout-grid-item">
					8
				</div>
			</div>

			<div class="grid__item large--one-twelfth">
				<div class="static__layout-grid-item">
					9
				</div>
			</div>

			<div class="grid__item large--one-twelfth">
				<div class="static__layout-grid-item">
					10
				</div>
			</div>

			<div class="grid__item large--one-twelfth">
				<div class="static__layout-grid-item">
					11
				</div>
			</div>

			<div class="grid__item large--one-twelfth">
				<div class="static__layout-grid-item">
					12
				</div>
			</div>



		</div>

		<div class="grid static__layout-grid">

			<div class="grid__item large--one-sixth">
				<div class="static__layout-grid-item">
					1
				</div>
			</div>

			<div class="grid__item large--one-sixth">
				<div class="static__layout-grid-item">
					2
				</div>
			</div>

			<div class="grid__item large--one-sixth">
				<div class="static__layout-grid-item">
					3
				</div>
			</div>

			<div class="grid__item large--one-sixth">
				<div class="static__layout-grid-item">
					4
				</div>
			</div>

			<div class="grid__item large--one-sixth">
				<div class="static__layout-grid-item">
					5
				</div>
			</div>

			<div class="grid__item large--one-sixth">
				<div class="static__layout-grid-item">
					6
				</div>
			</div>

		</div>

		<div class="grid static__layout-grid">

			<div class="grid__item large--one-third">
				<div class="static__layout-grid-item">
					1
				</div>
			</div>

			<div class="grid__item large--one-third">
				<div class="static__layout-grid-item">
					2
				</div>
			</div>

			<div class="grid__item large--one-third">
				<div class="static__layout-grid-item">
					3
				</div>
			</div>

		</div>

		<div class="grid static__layout-grid">

			<div class="grid__item large--two-thirds">
				<div class="static__layout-grid-item">
					1
				</div>
			</div>

			<div class="grid__item large--one-third">
				<div class="static__layout-grid-item">
					2
				</div>
			</div>

		</div>

		<div class="grid static__layout-grid">

			<div class="grid__item large--one-whole">
				<div class="static__layout-grid-item">
					1
				</div>
			</div>

		</div>

	</div>

	<h2 class="static__sub-heading text--large">Single column, with ghost columns</h2>

	<div class="grid grid--full static__layout-grid">

		<div class="grid__item small--one-whole medium--six-eighths push--medium--one-eighth large--ten-twelfths push--large--one-twelfth">

			<div class="static__layout-grid-item">
				1
			</div>

		</div>

	</div>

</div>
