---
title: "Typography"
---


<div class="static__section">
    
	<h1 class="text--xxlarge">xxlarge Heading</h1>

	<h2 class="text--xlarge">xlarge Heading</h2>

	<h3 class="text--large">large Heading</h3>

    <h3 class="text--medium">medium Heading</h3>

	<p>Some body text</p>

	<p class="text--small">Some small text</p>

	<p>
		<a href="#" class="link">Some link</a>
	</p>

	<p>
		<a href="#" class="link link--alt">Some alternative link</a>
	</p>

</div>
