<div class="media__controls media__controls--auto-hide">

    <button type="button" class="media__control-close btn btn--diamond btn--media" data-collapse>
		<span class="icon icon--close-small">
			<span class="vh">Close</span>
		</span>
    </button>

    {{#if controls}}

    <div class="media__controls-bar media__controls-bar--floating">

        <button type="button" class="media__control {{#if playing}} media__control--hidden {{/if}}btn btn--diamond btn--media" data-control="play">
			<span class="icon icon--playvideo">
				<span class="vh">Play</span>
			</span>
        </button>

        <button type="button" class="media__control {{#unless playing}} media__control--hidden {{/unless}}btn btn--diamond btn--media" data-control="pause">
			<span class="icon icon--pause">
				<span class="vh">Pause</span>
			</span>
        </button>

        <div class="media__control-time"><span class="media__time" data-time>{{ time }}</span>/<span class="media__time" data-duration>{{ duration }}</span></div>

        <div class="media__control-track" data-view="MediaControlsSeek">
            <div class="media__control-track-progress" data-progress></div>
            <div class="media__control-track-progress media__control-track-progress--seek" data-seek></div>
        </div>

        <div class="media__control-sound">

            <div class="media__control-volume-wrapper">
	            <div class="media__control-volume" data-view="MediaControlsVolume">
	                <div class="media__control-volume-inner">
	                    <div class="media__control-volume-level" data-level></div>
	                </div>
	            </div>
	        </div>

            <button type="button" class="media__control media__control--mute {{#if muted}} media__control--hidden {{/if}}btn btn--diamond btn--media" data-control="mute">
				<span class="icon icon--audio">
					<span class="vh">Mute</span>
				</span>
            </button>

            <button type="button" class="media__control media__control--unmute {{#unless muted}} media__control--hidden {{/unless}}btn btn--diamond btn--media" data-control="unmute">
				<span class="icon icon--mute">
					<span class="vh">Unmute</span>
				</span>
            </button>

        </div>

        {{#if fullscreenEnabled}}
        <button type="button" class="media__control media__control--fullscreen btn btn--diamond btn--media" data-fullscreen>
			<span class="icon icon--maximise">
				<span class="vh">Fullscreen Toggle</span>
			</span>
        </button>
        {{/if}}

    </div>

    {{/if}}

</div>
