---
title: "Cookie Bar"
---

<div class="cookie-bar">

	<div class="site__max-element-width">

		<div class="cookie-bar__inner">

			<div class="grid">

				<div class="grid__item medium--two-thirds">
                    <div class="cookie-bar__statement btn-wrap btn-wrap--invert">
                        <button type="button" class="cookie-bar__statement-btn btn btn--invert btn--diamond"><span class="icon icon--information-alt"></span></button>
                        <span class="cookie-bar__statement-text btn-wrap__text">Take a look at the cookies used on this site</span>
                    </div>
				</div>

				<div class="grid__item medium--one-third">
                    <button type="button" class="cookie-bar__agree-btn btn btn--square btn--invert">Ok, I agree</button>
				</div>
			</div>

		</div>

	</div>

</div>

