---
title: "Search results"
---

<section class="search-results vsb--large">

	<div class="site__max-element-width">

		<div class="search-results__inner vsb--large-connected">

        	<h1 class="text--xxlarge search-results__heading vsb--large-connected">Search</h1>

			{{> _searchbox }}

			<div class="grid">

				<div class="grid__item one-whole medium--one-third">
					{{> _search-results-category}}
				</div>

				<div class="grid__item one-whole medium--one-third">
					{{> _search-results-category}}
				</div>

				<div class="grid__item one-whole medium--one-third">
					{{> _search-results-category}}
				</div>

				<div class="grid__item one-whole medium--one-third">
					{{> _search-results-category}}
				</div>

				<div class="grid__item one-whole medium--one-third">
					{{> _search-results-category}}
				</div>

				<div class="grid__item one-whole medium--one-third">
					{{> _search-results-category}}
				</div>

			</div>

		</div>

	</div>

</section>