<form class="grid grid--center search-results__searchbox" action="">
	<div class="grid__item one-whole medium--one-half">
		<input type="text" class="search-results__searchbox-input" placeholder="Enter search term" id="search" name="search">
	</div>
	<div class="grid__item one-whole medium--one-sixth">
		<button type="button" class="btn btn--square search-results__searchbox-submit">Search</button>
	</div>
</form>