---
title: "Search no results"
---

<section class="search-results">

	<div class="site__max-element-width">

		<div class="search-results__inner vsb--large">

			<h1 class="text--xxlarge search-results__heading vsb--large-connected">Search</h1>

			{{> _searchbox }}

			<div class="grid">

				<div class="grid__item one-whole">

					<article class="search-results__no-results">
						<h1 class="search-results__no-results-heading text--large">Your search returned no results</h1>
						<p>Please try again with a different search term</p>
					</article>

				</div>

			</div>

		</div>


	</div>

</section>

