---
title: "Search results category items"
---

<article class="search-results__category-item">
	<h1 class="search-results__category-heading text--large"><a href="#" class="link link--alt">Dolor sit amet</a></h1>
    <p class="search-results__category-summary">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit iusto, quisquam reiciendis...</p>
</article>