---
title: "Search categories"
---

<div class="search-results__categories"> <!-- CATEGORIES + CATEGORY -->
	<ul class="search-results__categories-inner">
		<li class="search-results__categories-item"><a href="#" class="link">News (<span class="search-results__count">6</span>)</a></li>
		<li class="search-results__categories-item"><a href="#" class="link">Case studies (<span class="search-results__count">3</span>)</a></li>
		<li class="search-results__categories-item"><a href="#" class="link">Vacancies (<span class="search-results__count">12</span>)</a></li>
		<li class="search-results__categories-item"><a href="#" class="link">Content (<span class="search-results__count">10</span>)</a></li>
		<li class="search-results__categories-item"><a href="#" class="link">Events (<span class="search-results__count">6</span>)</a></li>
		<li class="search-results__categories-item"><a href="#" class="link">Thought leadership (<span class="search-results__count">3</span>)</a></li>
		<li class="search-results__categories-item"><a href="#" class="link">Media coverage (<span class="search-results__count">12</span>)</a></li>
		<li class="search-results__categories-item"><a href="#" class="link">Content (<span class="search-results__count">10</span>)</a></li>
		<li class="search-results__categories-item"><a href="#" class="link">Amaze generation (<span class="search-results__count">6</span>)</a></li>
		<li class="search-results__categories-item"><a href="#" class="link">News (<span class="search-results__count">3</span>)</a></li>
		<li class="search-results__categories-item"><a href="#" class="link">Blog (<span class="search-results__count">12</span>)</a></li>
		<li class="search-results__categories-item"><a href="#" class="link">Partner news (<span class="search-results__count">10</span>)</a></li>
	</ul>
</div>