---
title: "Skip Links"
---

<nav class="skip-links">

    <a href="#navigation" class="skip-links__item">Skip to Navigation</a>
    <a href="#content" class="skip-links__item">Skip to Content</a>
    <a href="#footer" class="skip-links__item">Skip to Footer</a>

</nav>
