
<article class="article-summary">

    <div class="article-summary__image{{#unless disable-triangle }} article-summary__image--triangle{{/unless}}">
        <a href="#">
            <!-- NOTE: Use ImageResizing.NET ?width=XXX -->
            <!-- Small ~480 -->
            <!-- Medium ~640 -->
            <!-- Large ~1024 -->
            <picture>
                <source media="(min-width: 64rem)" srcset="http://lorempixel.com/570/321/" /><!-- ~380 x 1.5 = 570 -->
                <source media="(min-width: 40rem)" srcset="http://lorempixel.com/548/308/" /><!-- ~365 x 1.5 = 548 -->
                <source media="(min-width: 30rem)" srcset="http://lorempixel.com/873/491/" /><!-- ~582 x 1.5 = 873 -->
                <img src="http://lorempixel.com/400/225/" alt="" />
            </picture>
        </a>
    </div>

    <div class="article-summary__content article-summary__content--indented">

        <p class="article-summary__date text--small">16 March 2015</p>

        <h1 class="article-summary__heading text--xlarge"><a href="#" class="link link--alt">Asics product advisor</a></h1>

        <div class="article-summary__summary editorial">
            <p>A fully integrated digital account, including the launch of a new mobile site.</p>
        </div>

        <div class="article-summary__onward">
            <p class="article-summary__onward-cta"><a href="#">Continue reading <span class="vh">Pizzza Hut - New brand New flavour</span></a></p>

            <p class="article-summary__onward-icons activity-icons">
                <span class="activity-icons__comments"><span class="vh">Comments</span><a href="#"><span class="icon icon--comments"></span> 25</a></span>
                <span class="activity-icons__views"><span class="vh">Views</span><span class="icon icon--views"></span> 255</span>
            </p>
        </div>

    </div>

</article>
