<article class="article-summary">

    <div class="article-summary__image{{#unless disable-triangle }} article-summary__image--triangle{{/unless}}">
        <a href="#">
            <!-- NOTE: Use ImageResizing.NET ?width=XXX -->
            <!-- Small ~480 -->
            <!-- Medium ~640 -->
            <!-- Large ~1024 -->
            <picture>
                <source media="(min-width: 64rem)" srcset="http://lorempixel.com/1300/674/" />
                <source media="(min-width: 40rem)" srcset="http://lorempixel.com/1000/563/" />
                <source media="(min-width: 30rem)" srcset="http://lorempixel.com/700/394/" />
                <img src="http://lorempixel.com/400/225/" alt="" />
            </picture>
        </a>
    </div>

	<p class="article-summary__type text--small">Case study</p>

	<h1 class="article-summary__heading text--xlarge"><a href="#" class="link link--alt">Asics product advisor</a></h1>

	<div class="article-summary__summary editorial">
		<p>A fully integrated digital account, including the launch of a new mobile site.</p>
	</div>

    <div class="article-summary__onward">
        <p class="article-summary__onward-cta"><a href="#">Continue reading <span class="vh">Pizzza Hut - New brand New flavour</span></a></p>
    </div>

</article>
