---
title: "Article Summary"
---

<h2 class="static__sub-heading text--large">Standard</h2>

{{> _article-summary-standard-item }}

<h2 class="static__sub-heading text--large">Case Study</h2>

{{> _article-summary-case-study-item }}

<h2 class="static__sub-heading text--large">Indented</h2>

{{> _article-summary-indented-item }}

<h2 class="static__sub-heading text--large">Related</h2>

{{> _article-summary-related-article-item }}
