---
title: "Angle Carousel"
---

<section class="angle-carousel vsb--large header-join" data-require="controllers/angleCarouselController">

    <div class="angle-carousel__slides" data-view="angleCarouselView">

        <picture class="angle-carousel__slide">
			<source media="(min-width: 30rem)"
				sizes="100w"
				srcset="/img/_temp/header-carousel-large-1.jpg 1024w, /img/_temp/header-carousel-large-1.jpg 1536w" />
			{{!-- 1x = 1024, 1.5x = 1536 --}}
            <img src="/img/_temp/header-carousel-large-1.jpg"
				sizes="100w"
				srcset="/img/_temp/header-carousel-small-1.jpg 640w, /img/_temp/header-carousel-small-1.jpg 960w" />
            {{!-- 1x = 640, 1.5x = 960  --}}
        </picture>

    </div>

    <div class="angle-carousel__controls site__max-element-width" data-view="angleCarouselControlsView">

        <a href="#brand" class="angle-carousel__control" data-view="angleCarouselSlide" data-srcset="/img/_temp/header-carousel-small-1.jpg, /img/_temp/header-carousel-large-1.jpg 640w">

            <span data-text="category" class="angle-carousel__control-text angle-carousel__control-text--category text--small">About Us</span>
            <h1 class="angle-carousel__control-text angle-carousel__control-text--title text--large" data-text="title"><span class="link">20 years of Amaze</span></h1>
            <p data-text="caption" class="angle-carousel__control-text angle-carousel__control-text--caption text--base">Two decades of digital innovation</p>

        </a>

        <a href="http://google.co.uk/two" class="angle-carousel__control" data-view="angleCarouselSlide" data-srcset="/img/_temp/header-carousel-small-2.jpg, /img/_temp/header-carousel-large-2.jpg 640w">

            <span data-text="category" class="angle-carousel__control-text angle-carousel__control-text--category text--small">Unilever</span>
            <h1 class="angle-carousel__control-text angle-carousel__control-text--title text--large" data-text="title"><span class="link">A globally consistent brand</span></h1>
            <p data-text="caption" class="angle-carousel__control-text angle-carousel__control-text--caption text--base">104 countries, 64 websites, 28 languages</p>

        </a>

        <a href="http://google.co.uk/three" class="angle-carousel__control" data-view="angleCarouselSlide" data-srcset="/img/_temp/header-carousel-small-3.jpg, /img/_temp/header-carousel-large-3.jpg 640w">

            <span data-text="category" class="angle-carousel__control-text angle-carousel__control-text--category text--small">Asics</span>
            <h1 class="angle-carousel__control-text angle-carousel__control-text--title text--large" data-text="title"><span class="link">Global commerce solution</span></h1>
            <p data-text="caption" class="angle-carousel__control-text angle-carousel__control-text--caption text--base">Building direct relationships with customers</p>

        </a>

    </div>

</section>
