
<section class="our-offices">

	<div class="site__max-element-width">

		<div class="our-offices__container">

			<h1 class="text--xlarge our-offices__heading">Our offices</h1>

			<div class="grid">

				<div class="grid__item one-whole medium--one-half">

					<article class="our-offices__item">

						<picture class="our-offices__item-image">
	                        <source media="(min-width: 64rem)" srcset="http://lorempixel.com/1300/731/sports/1">
	                        <source media="(min-width: 40rem)" srcset="http://lorempixel.com/1000/563/sports/2">
	                        <source media="(min-width: 30rem)" srcset="http://lorempixel.com/700/394/sports/3">
	                        <img src="http://lorempixel.com/400/225/sports/4" alt="">
	                    </picture>

						<div class="our-offices__item-inner">
							<span class="our-offices__item-title text--xlarge">
								London
							</span>

							<address class="our-offices__address">
								<span class="our-offices__address-line">Royalty House</span>
								<span class="our-offices__address-line">72-74 Dean Street</span>
								<span class="our-offices__address-line">London</span>
								<span class="our-offices__address-line our-offices__address-line--spacer">W1D 3SG</span>

								<span class="our-offices__address-line">Tel: <a href="tel:02074400540" class="our-offices__tel">020 7440 0540</a></span>
								<span class="our-offices__address-line">Email: <a href="mailto:info@amazelondon.com" class="our-offices__email link">info@amazelondon.com</a></span>
							</address>

							<a href="http://maps.google.co.uk/maps?q=W1D%203SG" class="our-offices__maplink link">View on map</a>
						</div>

					</article>

				</div>

				<div class="grid__item one-whole medium--one-half">

					<article class="our-offices__item">

						<picture class="our-offices__item-image">
	                        <source media="(min-width: 64rem)" srcset="http://lorempixel.com/1300/731/sports/1">
	                        <source media="(min-width: 40rem)" srcset="http://lorempixel.com/1000/563/sports/2">
	                        <source media="(min-width: 30rem)" srcset="http://lorempixel.com/700/394/sports/3">
	                        <img src="http://lorempixel.com/400/225/sports/4" alt="">
	                    </picture>

						<div class="our-offices__item-inner">
							<span class="our-offices__item-title text--xlarge">
								Manchester
							</span>

							<address class="our-offices__address">
								<span class="our-offices__address-line">1 Tony Wilson Place</span>
								<span class="our-offices__address-line">Manchester</span>
								<span class="our-offices__address-line our-offices__address-line--spacer">M15 4FN</span>

								<span class="our-offices__address-line">Tel: <a href="tel:01612425650" class="our-offices__tel">0161 242 5650</a></span>
								<span class="our-offices__address-line">Email: <a href="mailto:info@amazemanchester.com" class="our-offices__email link">info@amazemanchester.com</a></span>
							</address>

							<a href="http://maps.google.co.uk/maps?q=53.473584,%20-2.247519" class="our-offices__maplink link">View on map</a>
						</div>

					</article>

				</div>

				<div class="grid__item one-whole medium--one-half">

					<article class="our-offices__item">

						<picture class="our-offices__item-image">
	                        <source media="(min-width: 64rem)" srcset="http://lorempixel.com/1300/731/sports/1">
	                        <source media="(min-width: 40rem)" srcset="http://lorempixel.com/1000/563/sports/2">
	                        <source media="(min-width: 30rem)" srcset="http://lorempixel.com/700/394/sports/3">
	                        <img src="http://lorempixel.com/400/225/sports/4" alt="">
	                    </picture>

						<div class="our-offices__item-inner">
							<span class="our-offices__item-title text--xlarge">
								Liverpool
							</span>

							<address class="our-offices__address">
								<span class="our-offices__address-line">First Floor</span>
								<span class="our-offices__address-line">Royal Liver Buildings</span>
								<span class="our-offices__address-line">Pier Head</span>
								<span class="our-offices__address-line">Liverpool</span>
								<span class="our-offices__address-line our-offices__address-line--spacer">L3 1HU</span>

								<span class="our-offices__address-line">Tel: <a href="tel:01512552100" class="our-offices__tel">0151 255 2100</a></span>
								<span class="our-offices__address-line">Email: <a href="mailto:info@amazeliverpool.com" class="our-offices__email link">info@amazeliverpool.com</a></span>
							</address>

							<a href="http://maps.google.co.uk/maps?q=L3%201HU" class="our-offices__maplink link">View on map</a>
						</div>

					</article>

				</div>

				<div class="grid__item one-whole medium--one-half">

					<article class="our-offices__item">

						<picture class="our-offices__item-image">
	                        <source media="(min-width: 64rem)" srcset="http://lorempixel.com/1300/731/sports/1">
	                        <source media="(min-width: 40rem)" srcset="http://lorempixel.com/1000/563/sports/2">
	                        <source media="(min-width: 30rem)" srcset="http://lorempixel.com/700/394/sports/3">
	                        <img src="http://lorempixel.com/400/225/sports/4" alt="">
	                    </picture>

						<div class="our-offices__item-inner">
							<span class="our-offices__item-title text--xlarge">
								Chicago
							</span>

							<address class="our-offices__address">
								<span class="our-offices__address-line">Loop Integration</span>
								<span class="our-offices__address-line">300 N Lasalle</span>
								<span class="our-offices__address-line">Suite 4925</span>
								<span class="our-offices__address-line">Chicago</span>
								<span class="our-offices__address-line our-offices__address-line--spacer">IL 60654</span>

								<span class="our-offices__address-line">Tel: <a href="tel:0013128030504" class="our-offices__tel">001 312 803 0504</a></span>
								<span class="our-offices__address-line">Email: <a href="mailto:info@loopintegration.com" class="our-offices__email link">info@loopintegration.com</a></span>
							</address>

							<a href="#" class="our-offices__maplink link">View on map</a>
						</div>

					</article>

				</div>

			</div>


		</div>

	</div>

</section>

