---
title: "People Grid"
---

<section class="expanding-grid expanding-grid--people-grid vsb--large" data-require="views/gridExpanderView">
<div class="grid">
	<div class="grid__item one-whole">
		<h1 class="expanding-grid__heading text--xlarge">Leadership team</h1>
		<div class="site__max-element-width" data-grid-inner>

			<div class="expanding-grid__flexbox">

				<a href="404.html" class="expanding-grid__item" data-view="gridArticle">
					<article class="expanding-grid__article">
						<h1 class="text--large expanding-grid__name">Natalie Gross <span class="text--medium expanding-grid__title">CEO</span></h1>
					</article>
				</a>

				<a href="people-grid-article.html" class="expanding-grid__item" data-view="gridArticle">
					<article class="expanding-grid__article">
						<h1 class="text--large expanding-grid__name">Wendy Stonefield <span class="text--medium expanding-grid__title">Chief Commercial Officer</span></h1>
					</article>
				</a>

				<a href="people-grid-article.html" class="expanding-grid__item" data-view="gridArticle">
					<article class="expanding-grid__article">
						<h1 class="text--large expanding-grid__name">Rick Curtis <span class="text--medium expanding-grid__title">Chief Strategy Officer</span></h1>
					</article>
				</a>


				<a href="people-grid-article.html" class="expanding-grid__item" data-view="gridArticle">
					<article class="expanding-grid__article">
						<h1 class="text--large expanding-grid__name">Matt Clarke <span class="text--medium expanding-grid__title">Chief Technical Officer</span></h1>
					</article>
				</a>

				<a href="people-grid-article.html" class="expanding-grid__item" data-view="gridArticle">
					<article class="expanding-grid__article">
						<h1 class="text--large expanding-grid__name">Sandra McDowell <span class="text--medium expanding-grid__title">Director</span></h1>
					</article>
				</a>

				<a href="people-grid-article.html" class="expanding-grid__item" data-view="gridArticle">
					<article class="expanding-grid__article">
						<h1 class="text--large expanding-grid__name">Stephen Collins <span class="text--medium expanding-grid__title">Group Finance Director</span></h1>
					</article>
				</a>

			</div>
		</div>
	</div>
</div>



</section>

