
<section class="image-grid vsb--large" data-require="controllers/imageGridController">

	<div class="site__max-element-width">
			
		<div class="grid grid--center">
			
			<div class="grid__item small--one-whole medium--six-eighths large--eight-twelfths">
				
				<div class="editorial vsb--medium-connected">
					<h2>Our approach</h2>
					<h3>To reach this highly sophisticated audience we needed to ‘go further’ with a groundbreaking digital interaction that showcased the unique design, and driving experience.</h3>
					<p>Praesent vitae vulputate nisi. Mauris tincidunt lobortis velit. Sed vestibulum facilisis ipsum. Ut bibendum sed lorem ac accumsan. Duis vestibulum diam maximus nisi varius, vitae imperdiet nisi tempor. Suspendisse pretium gravida metus, id tincidunt ligula dapibus vitae. Aenean felis risus, semper vel aliquam vel, posuere at mauris. Suspendisse sed diam rutrum, placerat ex ac, vestibulum nunc.</p>	
				</div>

			</div>

		</div>

        <div data-view="imageGridView">

            <div data-image-grid 
                 data-image-grid-show-more-url="{{ imageGridPage1.showMoreUrl }}">

                {{#each imageGridPage1.items }}
                {{#is this.layout "portrait-landscape-landscape"}}
                {{> image-grid-portrait-landscape-landscape this }}
                {{/is}}
                {{#is this.layout "landscape"}}
                {{> image-grid-landscape this }}
                {{/is}}
                {{#is this.layout "landscape-landscape-portrait"}}
                {{> image-grid-landscape-landscape-portrait this }}
                {{/is}}
                {{#is this.layout "landscape-landscape"}}
                {{> image-grid-landscape-landscape this }}
                {{/is}}
                {{#is this.layout "portrait-portrait"}}
                {{> image-grid-portrait-portrait this }}
                {{/is}}
                {{/each}}                

            </div>

            <!-- NOTE: Don't show more than 5 pages at a time -->
            <div class="pagination vst--small-connected image-grid__pagination" data-image-grid-pagination>
                <span class="pagination__nav pagination__nav--prev"><span class="icon icon--arrow-left"></span>Previous</span>
                <span class="pagination__page pagination__page--active"><span class="vh">Page</span> 1</span>
                <a class="pagination__page link" href="?p=2"><span class="vh">Page</span> 2</a>
                <a class="pagination__page link" href="?p=3"><span class="vh">Page</span> 3</a>
                <a class="pagination__nav pagination__nav--next link" href="?p=2">Next<span class="icon icon--arrow-right"></span></a>
            </div>

        </div>

        <script type="text/template" data-template="showMoreTemplate">
            <div class="image-grid__show-more show-more vst--large-connected">
                <a class="btn-wrap" href="">
                    <span class="btn btn--diamond"><span class="icon icon--more-content"></span></span>
                    <span class="btn-wrap__text">Show more<span class="vh"> images</span></span>
                </a>
            </div>
        </script>

	</div>

</section>