<article class="skew media media--video vsb--large" data-require="controllers/videoController">

	<div class="media__inner" data-video-inner>

		<div class="media__content" data-video-content>

            {{> _skews-video }}

			<a href="https://youtu.be/ydBjsZnHrwM" class="media__text btn-wrap btn-wrap--invert" data-expand>

				<span class="btn btn--diamond btn--fill">
					<span class="icon icon--playvideo"></span>
				</span>
				<span class="btn-wrap__text">
					<span class="btn-wrap__text-item text--xxlarge">Careers</span>
					<span class="btn-wrap__text-item text--large">Watch the film</span>
				</span>
			</a>

		</div>

	</div>

</article>
