<article class="skew media vsb--large">

	<div class="media__content">

		{{> _skews-image }}

		<a class="media__text btn-wrap btn-wrap--invert" href="#">

			<h1 class="text--xxlarge">The Amaze graduate programme</h1>
			<p class="text--large">Application closing date 12 April 2015</p>

            <span role="button" tabindex="-1" class="media__cta btn btn--square btn--square-icon btn--icon btn--fill"><span class="icon icon--arrow-right"></span>Apply now</span>

		</a>

	</div>

</article>
