---
title: "Media"
---

<h2 class="static__sub-heading text--large">Image</h2>

{{> _media-image }}

<h2 class="static__sub-heading text--large">Video</h2>

{{> _media-video }}

<h2 class="static__sub-heading text--large">Header Image</h2>

{{> _media-header-image }}

<h2 class="static__sub-heading text--large">Header Video</h2>

{{> _media-header-video }}


