<div class="brand__graphs">

    <ol class="brand__graphs-list">

        {{#each streams}}
        <li class="brand__graphs-list-item">
            {{label}}
            <span class="brand__graphs-track">
            	<span class="brand__graphs-line" data-brand-graph></span>
        	</span>
        </li>
        {{/each}}

    </ol>

</div>
