---
title: "Article"
---

<h2 class="static__sub-heading text--large">Article</h2>

{{> _article-case-study }}

<h2 class="static__sub-heading text--large">Article with diamond CTA</h2>

{{> _article-with-diamond-cta }}

<h2 class="static__sub-heading text--large">Article with rectangle CTA</h2>

{{> _article-with-rectangle-cta }}

<h2 class="static__sub-heading text--large">Article diamond no text</h2>

{{> _article-with-diamond-no-text }}