---
title: "Grid Slider"
---

<h2 class="static__sub-heading text--large">Mix of content</h2>

{{> _grid-slider-mix-of-content }}

<h2 class="static__sub-heading text--large">Two items</h2>

{{> _grid-slider-two-items }}

<h2 class="static__sub-heading text--large">One item</h2>

{{> _grid-slider-one-item }}
