<section class="testimonial-carousel testimonial-carousel--single{{#if vertical-spacing }} vsb--large{{/if}}">

	<div class="site__max-element-width">

		<div class="grid">

			<div class="grid__item one-whole medium--six-eighths push--medium--one-eighth large--eight-twelfths push--large--two-twelfths">

				<div class="testimonial-carousel__items">
					<div class="testimonial-carousel__item">
						<blockquote class="testimonial-carousel__quote">
							<p class="testimonial-carousel__quote-text text--large">Amaze brings the experience of global digital implementation and management which is essential for achieving our online goals.</p>
							<footer><cite class="testimonial-carousel__cite text--medium">Neil Atkinson <span class="testimonial-carousel__cite-role text--base">Director of Global Communication Channel, Unilever</span></cite></footer>
						</blockquote>
					</div>
				</div>

			</div>
		</div>

	</div>

</section>
