<section class="testimonial-carousel{{#if vertical-spacing }} vsb--large{{/if}}" data-require="views/testimonialCarouselView">
    
    <div class="site__max-element-width">

        <div class="grid">

            <div class="grid__item one-whole medium--six-eighths push--medium--one-eighth large--eight-twelfths push--large--two-twelfths">

                <ul class="testimonial-carousel__items">
                    <li class="testimonial-carousel__item">
                        <blockquote class="testimonial-carousel__quote">
                            <p class="testimonial-carousel__quote-text text--large">Amaze brings the experience of global digital implementation and management which is essential for achieving our online goals.</p>
                            <footer><cite class="testimonial-carousel__cite text--medium">Neil Atkinson <span class="testimonial-carousel__cite-role text--base">Director of Global Communication Channel, Unilever</span></cite></footer>
                        </blockquote>
                    </li>
                    <li class="testimonial-carousel__item">
                        <blockquote class="testimonial-carousel__quote">
                            <p class="testimonial-carousel__quote-text text--large">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque rutrum turpis non mauris interdum porta. Aenean ac lectus eget dolor pharetra tincidunt non sodales ipsum.</p>
                            <footer><cite class="testimonial-carousel__cite text--medium">Lorem Ipsum <span class="testimonial-carousel__cite-role text--base">Director of Ipsum, Lorem</span></cite></footer>
                        </blockquote>
                    </li>
                </ul>

            </div>
        </div>

    </div>

</section>
