<section class="skew skew--padded vsb--large">

	{{#parseJSON '{"vertical-spacing" : false}'}}
        {{> _testimonial-carousel-multiple }}
    {{/parseJSON}}

    {{> _skews-light-bare }}

</section>
